{% extends "home.html" %}
{% block pre_content %}
<div style="width:100%;">
  <div style="position:absolute;" id="image404"><img src="{{ STATIC_URL }}img/sad-zoidberg.jpg" width="200px;"/></div>
  <div style="width:100%; text-align:center; margin:auto 0; font-size:5em;" class="p-title">404</div>
  <div style="width:100%; text-align:center; margin:auto 0;" class="p-title">Страница не найдена<br /> Рекомендуем посмотреть:
<br />
  </div>
</div>
{% endblock %}
