{% load banertag %}
<!doctype html>
<html class="no-js" lang="ru">
	<head>
		<!--
			 __          _       _      _ _       _    
			 / _|        | |     | |    | (_)     | |   
			 | |_ __ _ ___| |_ ___| | __ | |_ _ __ | | __
			 |  _/ _` / __| __/ _ \ |/ / | | | '_ \| |/ /
			 | || (_| \__ \ ||  __/   < _| | | | | |   < 
			 |_| \__,_|___/\__\___|_|\_(_)_|_|_| |_|_|\_\
             webii.space
		-->
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}Электронные сигареты, онлайн-магазин FasteK | Fasttech на русском{% endblock %}</title>

		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="{{ STATIC_URL }}img/icon2.png?dd">
		<link rel="icon" href="{{ STATIC_URL }}img/icon2.png?dd24">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|PT+Sans" rel="stylesheet"> 
		<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?1">
		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/pure-min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/grids-responsive-min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=12">
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
		<!--<![endif]-->
		
		{% get_baner header %}
		{% block extra_headers %}{% endblock %}
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		
	</head>
	<body>
		<!--[if lt IE 8]>
			<style>
			body {
			font-family: "Comic Sans MS", "Comic Sans", cursive;
			}
			</style>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="pure-g main">
			<div class="pure-u-1 header">
				{% block header %}
					<div class="pure-u-md-4-24 logo"> <!-- logo -->
						<a href="/" class="cats"><img alt="ФАСТЕК" src="{{ STATIC_URL }}img/logo-n.png" class="pure-img logo-img" width="190px"/></a>
					</div>
					<div class="pure-u-md-19-24 header2"> 
						<div class="pure-u-1 form">
							<div class="pure-u-1">
								<div class="pure-u-sm-12-24 menu3">
									{% load menu %}
									{% get_menu %}
									{% for p in menu %}
										{% if p.top_menu %}
											<a href="{% url 'page' url=p.url %}">
												{% if p.icon %}<img src="{{ p.icon.url }}" width="30px" /> {% endif %} {{ p }}</a>
										{% endif %}
									{% endfor %}
								</div>
								<div class="menu2 pure-u-sm-12-24">
									{% if not user.is_authenticated %}<a href="{% url 'login' %}">Вход</a>{% else %}
										{% if user.is_staff %}
											<a href="{% url 'manager:index' %}"><img src="{{ STATIC_URL}}img/batman.png" width="25px" /></a>
										{% endif %}
										<a href="{% url 'orders_history' %}"><img src="{{ STATIC_URL }}img/order.png" width="20px" /> Заказы</a>
										<a title="Аккаунт" href="{% url 'account' %}"><img src="{{ STATIC_URL }}img/profile.png" width="20px" /> Аккаунт</a>

										<a title="Выход" href="{% url 'logout' %}"><img src="{{ STATIC_URL }}img/login.png" width="20px" /> Выход</a>
									{% endif %}

									<a title="Корзина" href="{% url 'basket' %}"><img src="{{ STATIC_URL }}img/basket.png" width="20px" /> <span id="basket-amount">?</span></a>

								</div>
								
							</div>
							<form class="pure-form" action="{% url 'search' %}">
								<fieldset>
									<input type="text" name="q" class="pure-input-2-3" placeholder="Введите текст для поиска" {% if q %}value="{{ q }}"{% endif %}>
									<button type="submit" class="pure-button pure-button-primary">Найти товар</button>
								</fieldset>
							</form>
							
						</div>
						<div class="pure-u-1 menu">
							{% load menu %}
							{% get_categories_list %}
							<div class="pure-menu pure-menu-horizontal custom-can-transform">
								<ul class="pure-menu-list">
									{% for top in categories_list %}
										<li class="pure-menu-item pure-menu-has-children">
											<a href="#" id="menuLink{{ top.pk }}" class="pure-menu-link">{{ top }}</a>
											<ul class="pure-menu-children">
												{% for c in top.active_categories %}
													<li class="pure-menu-item">
														<a class="pure-menu-link" href="{% url 'category' cat_name=c.name %}">{{ c.name_rus }} ({{ c.count }})</a>
													</li>
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				{% endblock %}
			</div>
			<div class="pure-u-1 content">
				{% get_baner base_content %}
	
	{% block content %}
	{% endblock %}
	<br />&nbsp;<br />
	<br />&nbsp;<br />
	<br />&nbsp;<br />
      </div>
    </div>
    
    <div id="footer">
		{% block footer %}
		{% include "footer.html" %}
                {% block scripts %}
                {% endblock %}

		{% endblock %}
	</div>
  </body>
</html>

