{% extends "base.html" %}
{% block title %}Электронные сигареты: {{ c.name_rus }} страница #{{ page.number }}{% endblock %}
{% block content %}

	<h1 class="p-title">Категория: {{ c.name_rus }}  #{{ page.number }}</h1>

	<div class="pure-u-1 sort">
	  сортировать по
          {% for s in sorts %}
          <a {% if sort == s.sort or sort == s.bsort %}class='sort-selected'{% endif %}
            href="?s={% if sort == s.sort %}{{ s.bsort }}{% else %}{{ s.sort }}{% endif %}">{{ s.title }}{% if sort == s.sort or sort == s.bsort %}{% if sort == s.sort %}↓{% else %}↑{% endif %}
          {% endif %}
          </a> &nbsp;
          {% if forloop.last %}{% else %}{% endif %}         
          {% endfor %}
	</div>
	{% for item in page %}
		{% include "item-list.html" %}
	{% endfor %}
	{% include "paginator.html" %}
{% endblock %}
