<div class="pure-u-1">
	<h2>Последние отправления:</h2>
	<!-- <h4>Среднее время доставки дней: {{ avg_time }}</h4>-->
	<table class="pure-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Отправлен</th>
				<th>В город</th>
				<th>Дней в пути</th>
				<th>Статус отправления</th>
			</tr>
		</thead>

		<tbody>
			{% for p in parcels %}
				<tr {% if p.is_delivered %}style="background-color:#BEFF25;"{% endif %}>
					<td>{{ forloop.counter }}</td>
					<td>{{ p.added|date:'d M' }}</td>
					<td>{{ p.order.user.registereduser.city }}</td>
					<td {% if p.is_delivered %}style="font-weight:bold;"{% endif %}>{{ p.get_total_time }}</td>
					<td>
						{% if p.is_delivered %}Товар доставлен{% else %}В пути{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
