{% load menu %}
<div class="menu1 pure-u-2-5">
	{% get_menu %}
	{% for p in menu %}
		<a href="{% url 'page' url=p.url %}">{% if p.icon %}<img src="{{ p.icon.url }}" width="30px" /> {% endif %}{{ p }}</a>
	{% endfor %}
</div>
<hr />



Мы вконтакте: <a target="_blank" href="https://vk.com/fastek.link"><img src="{{ STATIC_URL }}/img/vk.png" width="40px;" /></a>
Пишите: <a href="mailto:support@fastek.link">support@fastek.link</a>
<br /><br />

<img src="{{ STATIC_URL }}img/logo1.png" width="50px" alt="ФАСТЕК"/>
<a href="//www.free-kassa.ru/"><img src="//www.free-kassa.ru/img/fk_btn/17.png"></a>

<script src="{{ STATIC_URL }}js/vendor/modernizr-2.8.3.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js_opt/plugins.js"></script>
<script src="{{ STATIC_URL }}js_opt/menus.js"></script>
<script>
$( document ).ready(function() {
	$.get('{% url 'basket_amount' %}' , function( data ) {
		$('#basket-amount').html(data.amount);
	});
});

</script>
{% block footer_add %}
    {% include "counters.html" %}
    {% include "consult/chat.html" %}
{% endblock %}
