{% extends "base.html" %}
{% block content %}
{% block pre_content %}
{% endblock %}


	{% for items in home_items %}
		<div style="width:70%; text-align:center; margin:0 auto;"><a href="{% url 'category' cat_name=items.cat_name %}"><h2 class="p-title">{{ items.name }}:</h2></a></div>
		{% for item in items.q %}
			{% include "item-list.html" %}
		{% endfor %}
		<div style="width:90%; font-size:1.2em; text-align:right;" class="p-title"><a style="color:#D40000;" href="{% url 'category' cat_name=items.cat_name %}"> листать дальше >>>  </a></div>
		<hr />
	{% endfor %}
	<hr />
	<h2 class="p-title"><a href="{% url 'new' %}">Все товары</a></h2>

	<hr />
	<br />
	{% include "delivery.html" %}

{% endblock %}
