<div class="pure-u-1">
	<span class="related-title" title="{{ item.title }}"><a href="{% url 'item' item_name=item.title item_pk=item.pk %}">{{ item.get_title }} - {{ item.get_price }} <b class="price"> ⃏</b></a></span>
	<div class="media">
		<a href="{% url 'item' item_name=item.title item_pk=item.pk %}"><img src="{{ item.get_thumb }}" class="pure-img"/></a>
	</div>
</div>
