{% extends "base.html" %}
{% load humanize %}
{% block title %}Купить {% if item.title %}{{ item.title_rus }} - {% endif %}{{ item.title }}{% endblock %}
{% block extra_headers %}
	<link rel="canonical" href="{{ SITE_URL_NO_SLASH }}{% url 'item' item_name=item.title item_pk=item.pk %}" />
{% endblock %}
{% block content %}
<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-u-md-17-24">
      <h3 class="title" title="{{ item.title }}"><a href="">{{ item.get_title }}</a></h3>
      <div class="pure-u-1">
		  {% if item.title_rus %}<h6 class="sub">({{ item.title }})</h6>{% endif %}
        <h6 class="sub">{% if item.sub_title_rus %}{{ item.sub_title_rus }}{% endif %} <a href="#desc">подробнее &darr;</a></h6>
      </div>

    </div>
    <div class="pure-u-md-5-24">
      <a class="pointer" onclick="$('#ask-form').show();">Задать вопрос по товару</a>

      <div class="pure-u-2-5 basket-p" id="ask-form" style="display:none;">

          <div class="pure-u-3-24 pointer" style="float:right; text-align:right;"><img onclick="$('#ask-form').hide();" src="{{ STATIC_URL }}img/close.png" width="30px" /></div>
		  {% if user.is_authenticated %}
          <form class="pure-form pure-form-stacked" method="post" action="{% url 'knowledge:ask' %}">{% csrf_token %}
          {{ question_item_form.as_p }}
          <input type="submit" value="Задать вопрос" />
          </form>
          {% else %}
          Чтобы задать вопрос, вы должны быть зарегистрированы.<br />

          <a href="{% url 'login' %}">Войдите</a> на сайт используя адрес электронной почты.
        {% endif %}

      </div>

      
    </div>
    <div class="pure-u-1 info-block">
      <div class="info pure-u-3-5">
	<a href="{% url 'category' cat_name=item.category.name %}">{{ item.category.name_rus }}</a>
      </div>
    </div>


    <div class="pure-u-1">
      <div class="media pure-u-lg-17-24 pure-u-md-1-1">
	<img src="{{ item.get_photo }}" id="main-img" class="pure-img"/>
	<div class="pure-g">
	  <br />	  
	  {% for photo in item.photos.all %}
	  <div class="pure-u-lg-3-24 pure-u-md-1-5 pure-u-sm-1-5" onmouseover="$('#main-img').attr('src', '{{ photo.get_url }}');">
	    <img src="{{ photo.get_thumb }}" class="pure-img-responsive item-mini-photo" width="100%"/>
	    {% if user.is_staff %}
	    <div style="font-size:8px;">
	      {% if photo.is_main %}
	      Главное фото
	      {% else %}
	      <a href="{% url 'set_main_photo' photo_pk=photo.pk item_pk=item.pk %}?next={% url 'item' item_name=item.title item_pk=item.pk %}">Выбрать главным</a>

	      {% endif %}
	    </div>
	    {% endif %}

	  </div>
	  {% endfor %}
	</div>

      </div>
      <div class="pure-u-lg-6-24 pure-u-md-1-1 buy-div">
	<h4 class="main-price" title="Стоимость">{{ item.get_price }}<b class="price"> ⃏</b></h4>

        
	<div class="pure-u-2-5 basket-p" id="basket-added"  style="display:none;">
	  <div class="pure-u-20-24"><b>Товар добавлен в корзину!</b></div>
	  <div class="pure-u-3-24" style="float:right; text-align:right;"><img class="pointer" onclick="$('#basket-added').hide();" src="{{ STATIC_URL }}img/close.png" width="30px" /></div>

	  <b class="green">{{ item.title_rus }}</b>
	  <img src="{{ item.get_photo }}" class="pure-img" />
	  Всего товаров в корзине: <b><span id="total-amount"></span></b><br />

	  <a class="pure-button" href="{% url 'basket' %}">Корзина</a>
	</div>


	<span id="add-spinner" style="display:none;"><img src="{{ STATIC_URL }}img/spinner.gif" /></span>
	<span id="check_avail"><b>Проверяем наличие ...</b> <img src="{{ STATIC_URL }}img/spinner.gif" /></span>
	<span id="not_avail" style="display:none;">Нет в наличии</span>
	<span id="buy_btn" style="display:none;">
	  <a id="add-button-wrap" class="pure-button button-success" onclick="add_basket({{ item.pk }});">
	    <b id="add-button">Добавить в корзину</b>
	  </a>
	</span>
	<!-- 	<h4>Информация:</h4> -->
	<br /><b>Наличие:</b> <span id="avail"><img src="{{ STATIC_URL }}img/spinner.gif" /></span>
	<span id="long-wait-warning" style="color:red; display:none;" >
		<br />Внимание! Товара нет на нашем складе, но есть на складе фабрики. Если вы не готовы ждать, то просьба выбрать другой товар, со статусом «в наличии».<br />
		<span style="text-decoration:underline;" class="pointer" onclick="$('#detail-wait').toggle();" >подробнее</span>
		<span id="detail-wait" style="display:none;" >
			<br />
			Указано приблизительное время доставки товара на наш склад. После этого товар будет выслан на ваш адрес.
			<br />Обратите внимание, что это не значит, что сроки будут соблюдены, т.к. данные о сроках предоставляет фабрика, и мы не можем никак на них повлиять, в случае задержки.
			<br />
			Хотя в некоторых случаях фабрики и выполняют свои обещания по срокам, имейте ввиду, что время доставки товара может задержаться до месяца.
			
		</span>
	</span>
	<br />
	<hr />
	Тип: <b>{{ item.product_type }}</b><br />
	{% if item.color %}Цвет: <b>{{ item.color }}</b><br />{% endif %}
	<br />
	Материал:<b> {{ item.material }}</b><br />

      </div>
    </div>


    <div class="pure-g">
      <div class="pure-u-1">
	<br />
	<hr />
	
	<div class="pure-u-14-24 pure-u-md-14-24 pure-u-sm-1-1">
	  <h2><a id="reviews" href="#reviews">Отзывы:</a></h2>
	  <div class="pure-u-1">
	    {% for r in reviews %}
	    <div class="review-item">
	      <div class="review-nickname {% if r.is_owner %}review-nickname-owner {% endif %}pure-u-6-24">
		{{ r.nickname }}
		{% if r.is_owner %}
		<br />
		<div class="nickname-info">
		  отзыв покупателя
		</div>
		{% endif %}
	      </div>
	      <div class="review-text pure-u-14-24">
		{{ r.text }}
	      </div>
	    </div>
	    {% empty %}
	    Отзывов пока нет, будьте первым:
	    {% endfor %}
	    {% if added %}
	    <br />
	    <div class="pure-u-1-1 button-success">Ваш отзыв добавлен, он будет доступен после модерации.</div>
	    <br />
	    {% endif %}
	    <form class="pure-form pure-form-stacked review-form" action="{% url 'add_review' item_pk=item.pk %}" method="post">{% csrf_token %}
	    <fieldset>
	      {{ form.as_p }}
              <span class='form-h'><input type="text" name="email" /></span>
	      <button type="submit" class="pure-button pure-button-primary">Добавить</button>
	    </fieldset>
	    </form>
	  </div>
	  <hr />

	  Видео обзоры:<br />
	  {% for v in video_reviews %}
	  <iframe width="560" height="315" src="{{ v.get_embed_code }}" frameborder="0" allowfullscreen></iframe>
	  <hr />
	  {% empty %}
	  Видео обзоров пока нет.
	  {% endfor %}
	  <h2><a id="desc" href="#desc">Описание:</a></h2>
	  {% for pr in item.item_properties.all %}
	  {% ifchanged pr.property_type %}<h4>{{ pr.property_type }}:</h4>{% endifchanged %}
	  <div style="padding-left:20px;" class="pure-u-1">
	    <b title="{{ pr.property_name }}">{{ pr.property_name }}:</b> <span title="{{ pr.property_value }}">{{ pr.property_value }} </span><br />
	  </div>
	  {% endfor %}
	  <br />
	  {% if item.date_listed %}
	  <div style="padding-top:10px;">
	    Добавлено: {{ item.date_listed|naturalday }}
	  </div>
	  {% endif %}
	  <span style="font-size:0.5em"> #{{ item.sku }}</span>
	</div>

	<div class="pure-u-lg-8-24 pure-u-sm-1 related-wrapper">
	  <h2><b id="related" href="#related">Смотрите также:</a></b></h2>
	  <div class="pure-u-1 related">
	    {% for r in related %}
	    {% include "item-small-list.html" with item=r.related_item %}
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
  </div>


  {% if user.is_staff %}
  
  <div class="admin-edit-panel pure-u-1">
    <div class="admin-edit-item">
      <a target="_blank" href="{{ item.url.url }}">
	🔗 
      </a>
      <a href="{% url 'admin:shop_item_change' item.id %}">
	✎ 
      </a>
      <a href="{% url 'redirect_item' item_pk=item.pk %}" rel="nofollow">
	i
      </a>
    </div>
  </div>
  {% endif %}
</div>


<script>
 $( document ).ready(function() {
	 $.get('{% url 'check_stock' item_id=item.pk %}' , function( data ) {
	     $('#avail').html(data.stock);
	     $('#check_avail').hide();
	     if (data.stock_i == 1){
			 $('#buy_btn').show()
			 if (data.stock_q == false){
				 $('#long-wait-warning').show();
			 }
	     } else {
			 $('#not_avail').show()
			 
	     }
	 });
 });

 function add_basket(item_id) {
	 $('#add-spinner').show();
	 $('#add-button').hide();
	 $.get('{% url 'add_item' item_id=item.pk %}' , function( data ) {
		 $('#total-amount').html(data.total);
	 }).done(function() {
		 $('#add-spinner').hide();
		 $('#add-button').show();
		 $('#basket-added').show();
	 }).fail(function() {
		 $('#add-spinner').hide();
		 $('#add-button').show();
		 alert( "Ошибка добавления в корзину, попробуйте позже" );
	 });
	 
 }
</script>
{% endblock %}
