{% load humanize %}
<div class="pure-u-lg-7-24  pure-u-md-11-24 item pure-u-sm-4-5 item-list">
  <div class="pure-u-1 list-title">
    <h3 class="title" title="{{ item.title }}"><a href="{% url 'item' item_name=item.title item_pk=item.pk %}">{{ item.get_title }}</a></h3>
  </div>
  <div class="pure-u-1 info-block">
    <div class="info pure-u-3-5">
      <a href="{% url 'category' cat_name=item.category.name %}">{{ item.category.name_rus }}</a>
    </div>
    <div class="pure-u-7-24 price">
      <a class="price" {% if sort == "price" or sort == "-price" %}style="font-size:1em; font-weight:bold;"{% endif %}>{{ item.get_price }}<b>&nbsp;⃏</b></a>
    </div>
  </div>
  <div class="media">
    <a href="{% url 'item' item_name=item.title item_pk=item.pk %}">
      <img src="{{ item.get_thumb }}" class="pure-img" />
    </a>
    <div class="rate" style="width: {{ item.get_rate_width }}px;" title="Рейтинг: {{ item.rate }} из 5 на основе {{ item.total_votes }} голосов">
      &#9733;&#9733;&#9733;&#9733;&#9733;
    </div>
    {% if item.date_listed %}
    <div class="added_info" title="Добавлено на сайт" {% if sort == "date_listed" or sort == "-date_listed" %}style="color:#D40000; font-size:1em; font-weight:bold;"{% endif %}>
      {{ item.date_listed|naturalday }}
    </div>
    {% endif %}
  </div>
  {% if user.is_staff %}
	  <div class="admin-edit-panel">
		  <div class="admin-edit-item">
			  <a target="_blank" href="{{ item.url.url }}"><img src="{{ STATIC_URL }}img/link.png" width="20px" /></a>
		  </div>
		  <div class="">
			  <a href="{% url 'admin:shop_item_change' item.id %}"><img src="{{ STATIC_URL }}img/edit.png" width="25px" /></a>
		  </div>
	  </div>
  {% endif %}

</div>
