<div class="pagination pure-u-1">
  <ul class="pagination">
    {% if page %}
    {% if page.has_previous == True %}
    <li><a href='?p={{ page.previous_page_number }}{% if q %}&q={{ q }}{% endif %}{% if order %}&order={{ order }}{% endif %}{% if category %}&cat={{ category.pk }}{% endif %}{% if sort %}&s={{ sort }}{% endif %}' class='page_prev button-xsmall pure-button page'>←</a></li>
    {% endif %}
    {% endif %}

    {% for p in page_range %}
    <li {% if p == page.number %}class="active_page"{% endif %}><a href="?p={{ p }}{% if q %}&q={{ q }}{% endif %}{% if order %}&order={{ order }}{% endif %}{% if category %}&cat={{ category.pk }}{% endif %}{% if sort %}&s={{ sort }}{% endif %}" class='button-xsmall pure-button page{% if p == page.number %} pure-button-primary text-muted active_page{% endif %}'>{{ p }}</a></li>
    {% endfor %}

    {% if page %}
    {% if page.has_next == True %}
    <li><a href='?p={{ page.next_page_number }}{% if q %}&q={{ q }}{% endif %}{% if order %}&order={{ order }}{% endif %}{% if category %}&cat={{ category.pk }}{% endif %}{% if sort %}&s={{ sort }}{% endif %}' class='page_next button-xsmall pure-button page'>→</a></li>
    {% endif %}
    {% endif %}
  </ul>
</div>
