{% extends "base.html" %}
{% block title %}Поиск: {{ q }} страница #{{ page.number }}{% endblock %}
{% block content %}

<div class="pure-u-13-24">
  <p>Результат поиска: <b>{{ q }}</b> 
  {% if category %}
  в разделе  <span class="button-success">{{ category }}
  <a style="color:#fff; text-decoration:none;" href="{% url 'search' %}?q={{ q }}&order={{ order }}"> ❌ </a>
</span>
  {% endif %}
    (стр. #{{ page.number }})
  </p>
</div>
<div class="pure-u-10-24 sort">
  Сортировать по:

 {% if order == "-rank" %}{% else %}<a href="{% url 'search' %}?q={{ q }}&order=-rank{% if category %}&cat={{ category.pk }}{% endif %}">{% endif %}
   <span {% if order == "-rank" %}class='sort-selected'{% endif %}>релевантности{% if order == "-rank" %}↓{% endif %}</span></a>
    
  <a href="{% url 'search' %}?q={{ q }}&order={% if order == 'id' %}-id{% else %}id{% endif %}{% if category %}&cat={{ category.pk }}{% endif %}">
    <span {% if order == "-id" or order == "id" %}class='sort-selected'{% endif %}>дате{% if order == 'id' %}↓{% elif order == "-id" %}↑{% endif %}</span></a>
  
    <a href="{% url 'search' %}?q={{ q }}&order={% if order == 'price' %}-price{% else %}price{% endif %}{% if category %}&cat={{ category.pk }}{% endif %}">
    <span {% if order == "-price" or order == "price" %}class='sort-selected'{% endif %}>цене{% if order == 'price' %}↓{% elif order == "-price" %}↑{% endif %}</span></a>
</div>

{% if page %}
<div class="pure-u-1">
      <span class="pointer" onclick="$('#cats-list').toggle();">найдено в разделах ▾</span>
      <div id="cats-list">
        {% for c in c_categories %}
        <div class="search-cats"><a style="text-decoration:none;" href="{% url 'search' %}?q={{ q }}&order={{ order }}&cat={{ c.0.id }}">&nbsp;{{ c.0 }} ({{ c.1 }})&nbsp;</a></div>
        {% endfor %}
      </div>
</div>
{% endif %}


{% for item in page %}
{% include "item-list.html" %}
{% empty %}
<h1 class="p-title">Ничего не найдено =(</h1>
{% endfor %}

{% if page %}
{% include "paginator.html" %}
{% endif %}

{% endblock %}
