{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
	
	<div class="cms-content">
		{{ page.content|safe }}
		{% if user.is_staff %}
			<a href="{% url 'admin:cms_page_change' page.id %}"><img src="{{ STATIC_URL }}img/edit.png" width="30px" /></a>
		{% endif %}

	</div>

	
{% endblock %}
