.sidebar {
	padding-left:20px;
}
.main-content {
    padding-right:20px;
    border-right:0px solid grey;
    
}
#wrpr{
    max-width:1000px;
    margin:0 auto;
}
.pure-form-message-inline {
    font-size:11px;
}

hr {
    background: #ccc none repeat scroll 0 0;
    border: 0 none;
    color: #ccc;
    height: 1px;
    margin: 0 0 1.25em;
}
.main-content input {
    width:100%;
}
.main-content textarea {
    width:100%;
}
.info {
	font-size:10px;
	color: grey;
	margin-bottom:10px;
}
.response {
	padding:10px;
	background-color:#EAEAEA;
	margin:5px;
	border-radius:4px;
}
.small {
	font-size:11px;
	border-radius:3px;
	background-color:#EAEAEA;
	padding:3px;
}
.not-accepted {
	background-color:#FFEEEE;
}
.info-admin {
	background-color:#F6F4F4;
	font-size:12px;
	color:#FF7A7A;
}
