html {
	font-family: 'PT Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff; /*#3C3C3C;*/
}
div {
	box-sizing: border-box;
}
.content {
	padding:2em;
	min-height: 24em; 

}
.related-wrapper {
    padding-left:20px;
}
.main {
	width:100%;
	margin: 0 auto;
	background-color: #fff;
	margin-top:1em;

}

.title {
    color: #222;
    font-size: 1.1em;
    margin-bottom: 0.2em;

	padding-top:0em;
	margin-top:0em;
}
.item {
	padding:1em;
	padding-top:0em;
	padding-left:0em;
	border-radius: 3px;
	/*background-color: #F8F8F8;*/
}
.search-div {
	padding:1em;
	padding-left:3em;
	
}
.sidebar {
	min-width:250px;
}
.sub-sidebar {
	width: 250px;
}
a {
    color: #00AAFF;/*#D40000; /*rgb(61, 146, 201);*/
    background-color: transparent;
}

.blue {
    background: #4d85d1 none repeat scroll 0 0;
}
.cats {
	font-size:3em;
	
}

.sub {
	color: #999;
    font-size: 90%;
    margin: 0;
}
ul.menu {
	margin-top:0em;
}
ul.menu li {
	list-style:none;
	margin: 0.3em 0.1em;
}
ul.menu li a {
    padding: 0.3em 1em;
}
ul.menu li a:hover {
	background: #5aba59 none repeat scroll 0 0;
	color:#fff;
	text-decoration:none;
	border-radius: 0 90px 90px 0px;
}
.logo-img {
	margin-left:auto;
	margin-right:auto;
}
.info-block {
	padding-top:0.5em;
}
.info a:hover {
    text-decoration:underline;
}
.info a {
	text-decoration:none;
	background: #5aba59 none repeat scroll 0 0;
    color: #fff;
    font-size: 80%;
    margin: 0 0.1em;
    padding: 0.3em 1em;
	vertical-align: bottom;
}
.price {
	font-family: 'PT Sans', serif;
}

div.price {
	float:right;
	text-align:right;
}
a.price  {
    padding: 0.3em 1em;
	margin: 0 0.1em;
	background: #D40000 none repeat scroll 0 0;
    color: #fff;
    font-size: 150%;
 	font-weigth:bold;
}

.media {
	padding-top:0.5em;
	
}
.media img {
	
}
.media img:hover {
	
}

div.pagination {
	display: inline-block;
	text-align: center;

}
.pagination {
    border-radius: 4px;
    display: inline-block;
 	
}
.pagination > li {
    display: inline;
}
h1 {
	font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.05em;
	font-weight: 740;
	font-size: 1.4em;
	margin:0em;
}
.sort a {
    text-decoration:none;
}
.sort {
    margin:1em;
    text-align:right;

}
.sort-selected {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding:4px;
    text-decoration:none;
    background: rgb(66, 184, 221); /* this is a light blue */
    border:1px solid gray;
    /*background: rgb(28, 184, 65); /* this is a green */
}

.item-mini-photo {
	width:95%;
	cursor:pointer;
}
.item-mini-photo:hover{
}
.button-success,
.button-price{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}
.button-success
{
    background: rgb(28, 184, 65); /* this is a green */
}
.button-price {
	background: #df2d4f none repeat scroll 0 0;
	cursor:auto;
}
.main-price {
	font-size:150%;
	margin-top:0;
	margin-bottom:0.5em;
}

#footer {
	padding-top:3em;
	width:100%;
	margin:0 auto;
	padding-bottom:3em;
	text-align:center;
}
.related {
	overflow-y:scroll;
	height:400px;
}
.related a {
	font-size:0.9em;
	line-height:1em;
}
.buy-div{
	margin-left:1em;
}
.support {
	border:1px solid grey;
	padding:1em;
	margin:1em;
	margin-right:0px;
}
.support-form {
	padding:1em;
	margin:1em;
	margin-right:0px;

}
.answer {
	padding-left:1em;
	color:blue;
}

.support-time{
	text-align:right;
}
h3, h4 {
	margin-bottom:0px;
}
.support h3 {
	margin:0px;
}
.pad-left {
	margin-left:2em;
}
.delivery-info {
	display: inline-block;
	margin: 0 1em 0 0;
    text-align: right;
    vertical-align: middle;
    width: 10em;
}

#add-spinner {
}
.basket-p {
    	margin-left:auto;
	margin-right:auto;
	position: absolute;
	left: 0;
	right: 0;
	width:400px;
	min-height: 120px;
	border:1px solid grey;
	padding:1em;
	background-color: #fff;
	box-shadow: 10px 10px 5px #888888;
}
.pointer {
	cursor:pointer;
}
.green {
	color: #1CB841;
}
.menu3 a{
	text-decoration: none;
}
.menu2 {
	text-align:right;
	float:right;
	text-align:right;

}
.right {
	text-align:right;
}
.menu2 a {
	text-decoration:none;
	margin-right:1em;
}
.menu1 a{
	text-decoration:none;
	margin-right:1em;

}

#basket-amount {
	color:#5ABA59;
}
.sidebar .pure-menu {
	display: inline-block;
}
.pure-menu-children {
	border:1px solid #EAEAEA;
}
 a.pure-menu-link {
	 color:#3D92C9;
	 color: #00AAFF;
	 color: #D50303;
}
.list-title {
	height: 55px;
	overflow:hidden;
	margin-bottom:10px;
}
.item-list .price a {
	font-size: 80%;
    margin: 0 0.1em;
    padding: 0.3em 1em;
	
}
.item-list {
	margin:0.5em;
	margin-bottom:1em;
	padding: 1em;
	/*background-color:#fff;
	background-color: #F8F8F8;*/

	margin-left:1.3em;
	border:1px solid #EAEAEA;
}
.item-list:hover {
	border:1px solid #D40000;
}
.header2 {
	padding-top:1em;
}
.header {
	border-bottom:1px solid #D40000;
}
.pure-menu-children {
}
.p-title {
	text-align:center;
	font-size:3em;
	font-family: 'Open Sans Condensed', sans-serif;

}
tbody {
	background-color:#fff;
}
h2 {
	padding:0;
	margin:0;
}
.rate {
	text-shadow: 2px 2px black;
	color: #FFF90D;
	position:relative;
	top:-10px;
	left:-10px;
	float:right;
	font-size:1.2em;
	width:95px;
	overflow:hidden;
}
.answered {
	color: gray;
	font-style:italic;
}
.support-ticket-item {
	padding:5px;
	margin:4px;
	background-color:#EAEAEA;
}
.coupons {
	float:right;
	text-align:right;
}
.coupons button {
	float:right;
}
.cms-content {
	max-width:800px;
	margin: 0 auto;
}
.account-content {
	text-align:center;
	
}
.account-item {
	float:left;
	width:33%;
}

.order_done {
    color:#fff;
    background-color:#5EB95E;

}
.order_sended {
    color:#fff;
    background-color:#1F8DD6;

}
.order_processed {
    color:#F5AB9E;
    background-color:#FCEBBD;

}
.order_payed {
    color:#fff;
    background-color:#F37B1D;
}


/* CHAT styles */
#chat_preview:hover {
    height:55px;
}
#chat_preview {
	position:fixed;
	bottom: 0px;
	right: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;

	border-radius: 10px 10px 0px 0px;
	background: #E0E0E0; /*#f1f2f7;*/
	padding:10px;
	cursor:pointer;
}
.chat_info {
    background-color:#1F8DD6!important;
    color:#fff!important;
}

#chat {
	position:fixed;
	bottom: 40px;
	right: 40px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 40px rgba(17,17,17,0.5);
	-moz-box-shadow: 0px 0px 40px rgba(17,17,17,0.5);
	box-shadow: 0px 0px 40px rgba(17,17,17,0.5);
	border: none;
	background: #f1f2f7;
	width:350px;
	height:400px;
	padding:0px;
	font-size:12px;
	overflow:hidden;
	display:none;
	text-align:left;
}
#chat_win{
	width:330px;
	margin:0 auto;
	height:290px;
	overflow-y:scroll;
	overflow-x:hidden;
	padding:5px;
	margin:10px;
	background:#1C4E63
	color: black;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
}
#chat_title {
	background-color: #D40000;
	color:#fff;
	width:100%;
	height:40px;
	padding:10px;
}
#chat_controls {
	padding:10px;
}
.chat_element {
	width:280px;
	padding:6px;
	margin:3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background:#fff;
}
.chat_user {
	background:#EFFDDE;
	float:right;

}
.chat_cons {
	float:left;
}
.chat_username {
	font-size:10px;
	fotn-weight:bold;
}

.chat_time {
	float:right;
	text-align:right;
	color:grey;
	font-size:8px;
}
.chat_title_ctrls {
	float:right;
}
#chat_close {
	font-size:18px;
	text-decoration:none;
	cursor:pointer;
}

.review-nickname {
    text-align:center;
    font-size:1.3em;
    min-width:180px;
}
.review-nickname-owner {
    color:green;
}
.review-item {
    padding-bottom:30px;
}
.nickname-info {
    font-size:0.6em;
    color:#fff;
    background-color:green;
    border-radius:4px;
    padding: 2px 5px;
    white-space: nowrap;
    width:125px;
    margin-left: auto ;
    margin-right: auto ;
    text-align:center;
}
.review-form textarea {
    width:95%;
    height:90px;
}
@media (max-width: 47.999em) {
    #image404 {
	display:none;
    }
    .custom-can-transform ul li{
	display:block;
	float:left;
    }
    
}

.errorlist {
    color:red;
}

.added_info {
    margin-top:10px;
    color:gray;
    font-size:0.6em;
    
}
.search-cats {
    margin:3px;
    float:left;
    font-size:0.8em;
    background-color:#1CB841;
    border-radius: 4px;
}
.search-cats a {
    color:#fff;
}
.admin-edit-panel {
	width:80px;
	margin:5px;
}
.admin-edit-item {
	margin-right:5px;
	float:left;
}
.admin-edit-item a {
	text-decoration:none;
	font-size:2em;
}
.dashboard {
	font-size:1.8em
}
.dashboard a {
	font-size:1.1em;
}
.small {
    font-size:10px;
}
.form-h {
    display:none;
}
#ask-form {
    position:absolute;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    top:40%;
    display:none;
    border:1px solid #B60000;
    padding:8px;
    background-color:#fff;
}
.question_form_field {
    width:100%;
    height:60%;
}
.user-comment {
	padding-left:10px;
	font-size:0.9em;
	background-color:#0078E7;
	color:#fff;
	border-radius:5px;
}
.undr {
	text-decoration:underline;
}

.warning {
	font-size:1.2em;
	color:red;
}
#add-button-wrap {
	background-color:#FF9900;
	border:2px solid black;
	box-shadow: 3px 3px;
	color:black;
	margin-bottom:8px;

}
#add-button-wrap b {
	font-weight:normal;	
}
