{% extends "base.html" %}
{% block title %}Мой аккаунт{% endblock %}
{% block content %}
<div class="cms-content">
  {% if user.is_authenticated %}
  <div class="pure-u-1">
    <h2 class="p-title">Мой аккаунт:</h2>
  </div>
  <div class="pure-u-1 account-content">
    <br />
    <div class="account-item">
      <div style="min-height:110px;">
	<a href="{% url 'orders_history' %}"><img src="{{ STATIC_URL }}img/orders.png" width="100px" /></a>

      </div>
      <a href="{% url 'orders_history' %}">Мои заказы ({{ orders }})</a>
    </div>
    <div class="account-item">
      <div style="min-height:110px;">
	<a href="{% url 'knowledge:index' action='my' %}"><img src="{{ STATIC_URL }}img/support.png" width="100px" /></a>
      </div>
      <a href="{% url 'knowledge:index' action='my' %}">Поддержка</a>
    </div>
    <div class="account-item">
      <div style="min-height:110px;">
	<a href="{% url 'edit_ship_address' %}"><img src="{{ STATIC_URL }}img/delivery.png" width="100px" /></a></h2>
      </div>
      <a href="{% url 'edit_ship_address' %}">Адрес доставки</a></h2>
    </div>


    <div class="account-item">
      <div style="min-height:110px;">
        <br />
	<a href="{% url 'set_password' %}"><img src="{{ STATIC_URL }}img/password.png" width="100px" /></a></h2>
      </div>
      <a href="{% url 'set_password' %}">Установить пароль</a></h2>
    </div>

    
  </div>
  {% endif %}
</div>
{% endblock %}
