{% extends "base.html" %}
{% block title %}Вход на сайт{% endblock %}
{% block content %}
<div class="cms-content">
  <h2 class="p-title">Авторизация</h2>
  {% if user.is_authenticated %}
  <p>Добро пожаловать {{ user }}!</p>

  <p>
    Теперь, если вы хотите, можете <a href="{% url 'set_password' %}">установить пароль.</a>
    <br />Или перейти на <a href="/">главную страницу</a> или в <a href="{% url 'basket' %}">корзину</a>.
  </p>
  
  {% if next %}
  <br />
  Через 5 секунд вы будете перенаправлены сюда: <a href="{{ next }}">{{ next }}</a>
  <script>
    setTimeout("window.location.href='{{ next }}'", 5000);
  </script>
  {% endif %}
  {% else %}
  Ошибка входа, возможно ссылка устарела. <a href="{% url 'login' %}">Попробуйте еще раз</a>.
  {% endif %}
</div>
{% endblock %}
