{% extends "base.html" %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div class="pure-u-1">
  {% if amount_items == 0 %}
  <div style="margin:0 auto; width:200px;"><img src="{{ STATIC_URL }}img/empty_cart.png" style="margin:0 auto;"/></div>

  <h1 class="p-title">Корзина пуста</h1>
  <br />
  {% else %}
  <h1 class="p-title">Корзина:</h1>

  <div style="text-align:center; font-size:1.3em">
	  Приносим извинения, в данный момент новые заказы не принимаются
  </div>

  
  <div style="text-align:center;">Оформляя заказ на нашем сайте, вы подтверждаете, что достигли совершеннолетия в стране проживания.
  </div>
  {% if order %}<h1 class="p-title">№ заказа:{{ order.pk }} (ожидается оплата)</h1>{% endif %}
  
  <br />
  
  <table class="pure-table pure-table-horizontal" style="width:100%;">
    <thead>
      <tr>
	<th>#</th>
	<th>Фото</th>
	<th>Наименование</th>
	<th>Наличие</th>
	<th>Цена</th>
	<th>Кол-во</th>
	<th>Стоимость</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
		{% for item in basket_items %}
			<tr>
				<td style="font-size:1.4em">
					{{ forloop.counter }}
				</td>
				<td>
					<a href="{% url 'item' item_name=item.item.title item_pk=item.item.pk %}">
						<img src="{{ item.item.get_photo }}" class="pure-img" width="150px" />
					</a>
				</td>
				<td style="font-size:0.9em;">
					<a href="{% url 'item' item_name=item.item.title item_pk=item.item.pk %}">
						{% if item.item.title_rus %}{{ item.item.title_rus }}{% else  %}
							{{ item.item.title }}
						{% endif %}</a>
				</td>
				<td>
					{{ item.item.stock }}
				</td>
				<td>
					{{ item.item.get_price }}&nbsp;<b class="price">⃏</b>
				</td>
				<td>
					<input value="{{ item.amount }}" class="amount" id="amount-{{ item.pk }}" data="{{ item.item.pk }}" style="width:40px;" />
				</td>

				<td>
					{{ item.get_total_price }}&nbsp;<b class="price">⃏</b>
				</td>

				<td>
					<a href="{% url 'remove_item' item_id=item.item.pk %}"><img src="{{ STATIC_URL }}img/delete.png" width="30px" /></a>
				</td>
			</tr>
		{% empty %}
			Корзина пуста
		{% endfor %}

		<tr>
			<td>
			</td>
			<td colspan="3" style="text-align:right; font-size:1em;">Использовать усиленную упаковку:</td>
			<td colspan="2" style="font-size:1.4em;">
				<form action="">
					<input type="checkbox" {% if order.strong_package %}checked="checked"{% endif %} id="strong_package" />
				</form>
				
			</td>
			<td colspan="2">{{ strong_package_price }} <b class="price"> ⃏</b></td>
		</tr>
		
		<tr>
			<td>
			</td>
			<td colspan="3" style="text-align:right; font-size:1.3em;">Итого:</td>
			<td colspan="3" style="font-size:1.3em;">{{ total }}  <b class="price"> ⃏</b>
				{% if delivery %}
					<br /><span style="font-size:0.6em">(Включая доставку: 350 <b class="price"> ⃏</b>)</span>
				{% endif %}
				{% if order.strong_package %}
					<br /><span style="font-size:0.6em">(Включая усиленную упаковку: 80 <b class="price"> ⃏</b> за позицию)</span>
				{% endif %}
				
			</td>
			<td>
				
				{% if old_total %}
					{% if coupon.discount %}
						Скидка: {{ coupon.discount }}%<br />
						Экономия: <b>{{ delta_total }}</b><b class="price"> ⃏</b>
					{% else %}
						Оплачено купоном: <b>{{ delta_total }}</b><b class="price"> ⃏</b>
					{% endif %}
				{% endif %}
			</td>
		</tr>
    </tbody>
  </table>
  <div class="pure-u-1">
      <br /> <span class="small{% if order.get_estimate_send_date > 2 %} warning{% endif %}"><em>Примерное время подготовки заказа: {{ order.get_estimate_send_date_str }} </em>
		  
	  </span>
	  {% if order.get_estimate_send_date > 2 %}
		  <span class="small">
			  <br />Если вы не хотите ждать, то можно попробовать подобрать товары, которые есть в наличии. Это ускорит время на подготовку заказа.
		  </span>
	  {% endif %}
    <div class="coupons">
      <a class="pointer" onclick="$('#coupon').toggle();">Есть купон? ↓</a><br />
      <span id="coupon" {% if coupon_error %}{% else %}style="display:none;"{% endif %}>
	{% if coupon_error %}<b>{{ coupon_error }}</b>{% endif %}
	<span style="font:italic; font-size:10px; color:gray;">Внимание: к заказу можно применить только один купон</span>
	<form action="{% url 'basket' %}" method="get" class="pure-form">
	  {{ coupon_form.as_p }}
		<button type="submit" class="pure-button button-secondary">Применить</button>
	</form>
      </span>
    </div>
    <br />
    {% if delivery %}
		<h3>Внимание, при общей стоимости товаров 1000 рублей или более, доставка бесплатная!</h3>
		<i style="color:red;">Вам осталось выбрать товар на <b>{{ delivery }}</b> руб. до бесплатной доставки.</i>
		<hr />
	{% endif %}
    <br />
	
    {% if is_registered %}

    Проверьте данные для доставки:<br />
    <table class="pure-table pure-table-horizontal">
      <tr>
	<td>ФИО:</td>
	<td><b>{{ registered_user.last_name }} {{ registered_user.first_name }} {{ registered_user.patronymic }}</b></td>
      </tr>
      <tr>
	<td>Адрес: </td>
	<td>
		<b>
			{% if registered_user.country %}{{ registered_user.country }},{% else %}{{ registered_user.country_added }},{% endif %}
			{{ registered_user.zip }}, {{ registered_user.city }}, {{ registered_user.address }}
		</b>
	</td>
      </tr>
    </table>
    <br />
	<h3>Не забудьте:</h3>
    ⇾ <a href="{% url 'edit_ship_address' %}">Проверить данные доставки</a>
    <br />
	{% if order.user_comment %}
		<p>
			Ваш комментарий:<br />
			<pre class="user-comment">{{ order.user_comment }}</pre>
		</p>
		⇾ <a class="pointer undr" onclick="$('#comment-form').toggle();" >Изменить</a>
	{% else %}
		⇾ <a class="pointer undr" onclick="$('#comment-form').toggle();" >Добавить комментарий к заказу</a>
	{% endif %}

    <div class="basket-p" style="display:none; top:40%;" id="comment-form">
		<div class="pure-u-3-24 pointer" style="float:right; text-align:right;"><img onclick="$('#comment-form').toggle();" src="{{ STATIC_URL }}img/close.png" width="30px" /></div>
      <form action='{% url 'order_add_comment' order_id=order.id %}' method="post"> {% csrf_token %}
      {{ order_comment_form.as_p }}
      <input type="submit" value="Сохранить" />
      </form>
    </div>
    {% else %}
    {% if is_authenticated %}
    <br />
    <h2>Необходимо заполнить данные для доставки: </h2><br />

    <form id="account_form" action="{% url 'edit_ship_address' %}?next={% url 'basket' %}" method="post" class="pure-form pure-form-aligned">{% csrf_token %}
    <fieldset> 

      <div class="pure-control-group">
	{% for field in account_form %}
	<div class="fieldWrapper">
	  {{ field.errors }}
	  {{ field.label_tag }} {{ field }}
	  {% if field.help_text %}
	  <p class="help">{{ field.help_text|safe }}</p>
	  {% endif %}
	</div>
	{% endfor %}

      </div>
    </fieldset>
    <div class="pure-controls">
      <button class="pure-button pure-button-primary" id="id_login" type="submit">Сохранить</button></p>
    </div>
  </form>
  {% else %}
  <br />
  <h2>
    Необходимо <a href="{% url 'login' %}?next={% url 'basket' %}">авторизоваться</a> на сайте для оформления покупки
  </h2>
  {% endif %}
  {% endif %}


</div>
<div class="pure-u-4-5 right">
  <br />
  {% if is_authenticated %}

	  {% if not ru.is_baned and 1 == 2 %}
		  <form action="https://www.free-kassa.ru/merchant/cash.php">
			  {{ form.as_p }}
			  <input type="hidden" value="{{ registered_user.user.user.email }}" name="em" />
			  <button type="submit" {% if is_registered %}{% else %} disabled {% endif %} {% if amount_items == 0 %} disabled {% endif %}class="pure-button button-success">Оплатить <img src="{{ STATIC_URL }}img/right.png" width="30px"/></button>
		  </form>
	  {% else %}
		  <!-- <b>Вы не можете оплатить заказ. Обратитесь в поддержку.</b> -->
		  У нас временно не работает система оплаты на сайте. Приносим извинения.
		  Обратитесь в чат поддержки (внизу экрана), или по почте - support@fastek.link.
		  И обязательно укажите номер заказа.
	  {% endif %}
  {% else %}
  {% if is_registered %}
	  <h1>Для оформления покупок, пожалуйста <a href="{% url 'login' %}">зарегистрируйтесь</a></h1>
  {% endif %}
  {% endif %}

</div>
  {% endif %}
</div>

<script>
 $( document ).ready(function() {

	 $("#strong_package").change(function() {
		 $.get('{% url 'basket_strong_package' %}?val=' + $(this).is(':checked'), function( data ) {
		 }).done(function() {
			 window.location.reload();
		 }).fail(function() {
			 alert('Ошибка\n Обновите страницу');
		 });
		 
	 });
	 
	 $('input.amount').each(function() {
		 $(this).on('input', function() { 
			 var new_val = $(this).val();
			 var item_pk = $(this).attr('data');
			 $.get('{% url 'basket_amount_change' %}?item=' + item_pk +'&val=' + new_val , function( data ) {
				 $('#basket-amount').html(data.amount);
			 }).done(function() {
				 window.location.reload();
			 }).fail(function() {
				 alert('Ошибка обновления количества\n Обновите страницу');
			 });

		 });
	 });
 });
</script>

{% endblock %}

