{% extends "base.html" %}
{% block title %}Мой аккаунт{% endblock %}
{% block content %}
<div class="cms-content">

  <h2><a href="{% url 'account' %}">Аккаунт</a> → <a href="#">Адрес доставки</a></h2>

  {% if user.is_authenticated %}
  <h1>Данные для доставки:</h1>
  {% if saved %}
  <p>Данные обновлены...</p>
  {% endif %}
  <div class="pure-u-1">
	  {% if ru.country or ru.country_added %}
		  <div class="delivery-info">Страна: </div>  <b>{% if ru.country %}{{ ru.country }}{% else %}{{ ru.country_added }}{% endif %}</b><br />
	  {% endif %}
	  {% if ru.first_name %} <div class="delivery-info">Имя:</div>     <b>{{ ru.first_name }}</b><br />{% endif %} 
      {% if ru.last_name %}  <div class="delivery-info">Фамилия:</div> <b>{{ ru.last_name }}</b><br />{% endif %}
      {% if ru.patronymic %}  <div class="delivery-info">Отчество:</div> <b>{{ ru.patronymic }}</b><br />{% endif %}
      {% if ru.zip %}        <div class="delivery-info">Индекс:</div>  <b>{{ ru.zip }}</b><br />{% endif %}
      {% if ru.city %}       <div class="delivery-info">Город: </div>  <b>{{ ru.city }}</b><br />{% endif %}
      {% if ru.address %}    <div class="delivery-info">Адрес: </div>  <b>{{ ru.address }}</b><br />{% endif %}
  </div>
  <hr />
  <h1>Изменить:</h1>
  <form id="account_form" action="{% url 'edit_ship_address' %}" method="post" class="pure-form pure-form-aligned">{% csrf_token %}
  <fieldset> 

    <div class="pure-control-group">
      {% for field in form %}
      <div class="fieldWrapper">
	{{ field.errors }}
	{{ field.label_tag }} {{ field }}
	{% if field.help_text %}
	<p class="help">{{ field.help_text|safe }}</p>
	{% endif %}
      </div>
      {% endfor %}

    </div>
  </fieldset>
  <div class="pure-controls">
    <button class="pure-button pure-button-primary" id="id_login" type="submit">Сохранить</button></p>
  </div>
</form>

<hr />
<a href="{% url 'set_password' %}">Установить пароль</a>


{% endif %}
</div>
{% endblock %}
