{% extends "base.html" %}

{% block content %}
<div class="cms-content">
  <h2 class="p-title">Авторизация</h2>

  {% if user.is_authenticated and not user.is_anonymous %}
  Добро пожаловать {{ user }}!

  <p>
    Теперь, если вы хотите, можете <a href="{% url 'set_password' %}">установить пароль.</a>
    <br />Или перейти на <a href="/">главную страницу</a> или в <a href="{% url 'basket' %}">корзину</a>.
  </p>
  
  {% else %}
  {% if sended %}
  <p>На ваш адрес электронной почты выслана ссылка для входа. Пройдите по ссылке в письме, чтобы войти на сайт.</p>
  <p>Чтобы всегда получать письма от нашего сайта, добавьте адрес support@fastek.link в контакты.</p>
  <p>Если письмо не пришло в течении 10 минут, проверьте папку "Спам". Напишите письмо по адресу: support@fastek.link, если письмо так и не получено.</p>
  {% else %}
  <div id="login_form_div">
      <p class="indent">Введите адрес вашей электронной почты:</p>
	  <p class="indent">Необходимо указать реальный почтовый ящик, на него будут приходить уведомления о движении Вашего заказа.</p>
    <form id="login_form" action="" method="post" class="pure-form">{% csrf_token %}

    {{ form.email|safe }} 
    <button class="pure-button pure-button-primary" id="id_login" type="submit">Войти</button></p>
    <a class="pointer" onclick="$('#password_div').toggle();" style="font-size:0.8em;">Есть пароль?</a>
    <div style="display:none;" id="password_div">
      {{ form.password }}
    </div>
  </form>
</div>
<p class="indent">
  Чтобы вам было проще, пароли на нашем сайте необязательны. Вы можете установить пароль при первом входе на сайт, или входить используя только адрес электронной почты.
</p>
<p class="indent">
  Просто введите свой адрес электронной почты и мы пришлем ссылку для входа!
</p>

{% endif %}
{% endif %}
</div>
{% endblock %}
