{% extends "base.html" %}
{% block title %}История заказов{% endblock %}
{% block content %}

<div class="cms-content">

  {% if user.is_authenticated %}
  <h2><a href="{% url 'account' %}">Аккаунт</a> → <a href="#">История заказов</a></h2>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
	<th>#</th>
	<th>Заказ</th>
	<th>Сумма</th>
	<th>Состояние</th>
	<!--<th>Трэк-номер</th>-->
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      
      <tr>
	<td style="font-size:1.4em">							
	  {{ forloop.counter }}
	</td>
	<td>
	  <a href="{% url 'order_info' order_pk=order.pk %}">
	    Заказ <b>#{{ order.pk }}</b> от
            {% if order.pay_date %}
            <b>{{ order.pay_date|date:"SHORT_DATE_FORMAT" }}</b>
            {% else %}
            <b>{{ order.updated|date:"SHORT_DATE_FORMAT" }}</b>
            {% endif %}
	  </a>
	</td>
	<td>
	  <b>{{ order.price }}</b>&nbsp;<b class="price">⃏</b>
	</td>
	<td>{{ order.get_status }}</td>
<!--	<td>
	  {% if order.tracking %}<a target="_blank" href="https://www.pochta.ru/Tracking#{{ order.tracking }}">{{ order.tracking }}</a>{% endif %}
	</td>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
</div>
{% endblock %}
