{% extends "base.html" %}
{% block title %}Информация о заказе #{{ order.pk }}{% endblock %}
{% block content %}
<div class="cms-content">
  <div class="pure-u-1">
    <h2><a href="{% url 'account' %}">Аккаунт</a> → <a href="{% url 'orders_history' %}">История заказов</a> → <a href="#">Заказ #{{ order.pk }}</a></h2>
    <br />
    <br />
    <h3>Состояние: {{ order.get_status }}</h3>
    {% if order.is_sended %}
    {% if shipments_count > 1 %}
    Отправления:
    {% else %}
    Отправление:
    {% endif %}
    <br />
    <ul>
      {% for sh in shipments %}
      <li>
	<a href="{% url 'shipment_info' shipment_pk=sh.pk %}">{{ sh.tracking }}</a>{% if sh.track_status %} - Статус: {{ sh.track_status }}{% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    
    {% if order.is_payed %}
    {% if not order.is_sended %}
    {% if order.estimated_send_date %}
    <p>
      Ориентировочное время отправки: <b>{{ order.estimated_send_date|date:"SHORT_DATE_FORMAT" }}</b>
    </p>
    {% endif %}
    {% endif %}
    {% endif %}
    
    <br />
    <table class="pure-table pure-table-horizontal">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Фото</th>
	  <th>Наименование</th>
	  <th>Наличие</th>
	  <th>Цена</th>
	  <th>Кол-во</th>
	  <th>Стоимость</th>
	</tr>
      </thead>
      <tbody>
	{% for item in order_items %}
	
	<tr>
	  <td style="font-size:1.4em">
	    {{ forloop.counter }}
	  </td>
	  <td>
	    <a href="{% url 'item' item_name=item.item.title item_pk=item.item.pk %}">
	      <img src="{{ item.item.get_photo }}" class="pure-img" width="150px" />
	    </a>
	  </td>
	  <td style="font-size:0.9em;">
	    <a href="{% url 'item' item_name=item.item.title item_pk=item.item.pk %}">
	      {% if item.item.title_rus %}{{ item.item.title_rus }}{% else  %}
	      {{ item.item.title }}
	      {% endif %}</a>
	  </td>
	  <td>
	    {{ item.stock.name }}
	  </td>
	  <td>
	    {{ item.item.get_price }}&nbsp;<b class="price">⃏</b>
	  </td>
	  <td>
	    <b>{{ item.amount }}</b>
	  </td>

	  <td>
	      {{ item.get_total_price }}&nbsp;<b class="price">⃏</b>
	  </td>

	</tr>
	{% empty %}
	Заказ пуст
	{% endfor %}
	<tr>
		<td>
		</td>
		<td colspan="3" style="text-align:right; font-size:1.3em;">Итого:</td>
		<td colspan="3" style="font-size:1.3em;">{{ order.price }}  <b class="price"> ⃏</b></td>

	</tr>
	<tr>
		<td>
		</td>
		<td colspan="3" style="text-align:right; font-size:1.3em;">Оплачено:</td>
		<td colspan="3" style="font-size:1.3em;">{{ order.total_payed }}  <b class="price"> ⃏</b></td>

	</tr>
      </tbody>
    </table>
	{% if order.is_payed == False %}
		<h3><a href="{% url 'basket' %}">Перейти к оплате >></a></h3>
		
		<br />
	{% endif %}
	
	{% if order.user_comment %}
		<h3>Комментарий к заказу:</h3>
		<pre class="user-comment">{{ order.user_comment }}</pre>
	{% endif %}

  </div>
</div>
{% endblock %}
