{% extends "base.html" %}
{% block title %}Заказ оплачен!{% endblock %}
{% block content %}

	<div class="cms-content">
		<h1 class="p-title">Заказ оплачен!</h1>
		<p>
			Заказ <b>#{{ order.pk }}</b> оплачен и уже собирается. Как только он будет выслан, мы сообщим Вам трек-номер почтового отправления.
			<br /><br />
			Также Вы всегде можете найти информацию в <a href="{% url 'orders_history' %}">истории заказов</a>.
		</p>
		<p>
			Если у вас возникли вопросы, смело обращайтесь в нашу службу поддержки
		</p>
	</div>
{% endblock %}
