{% extends "base.html" %}
{% block title %}Мой аккаунт{% endblock %}
{% block content %}
<div class="cms-content">

  <h2><a href="{% url 'account' %}">Аккаунт</a> → <a href="#">Установить пароль</a></h2>

  {% if user.is_authenticated %}
  <br />
  {% if saved %}
  <p class="button-success"><b>Пароль сохранен!</b></p>
  {% endif %}
  <form id="password_form" action="{% url 'set_password' %}" method="post" class="pure-form pure-form-aligned">{% csrf_token %}
  <fieldset> 

    <div class="pure-control-group">
      {% for field in form %}
      <div class="fieldWrapper">
	{{ field.errors }}
	{{ field.label_tag }} {{ field }}
	{% if field.help_text %}
	<p class="help">{{ field.help_text|safe }}</p>
	{% endif %}
      </div>
      {% endfor %}

    </div>
  </fieldset>
  <div class="pure-controls">
    <button class="pure-button pure-button-primary" id="id_login" type="submit">Установить пароль</button></p>
  </div>
</form>

<p>
<br />  Пароль не нашем сайте не обязателен, но вы можете установить его, чтобы авторизовываться на сайте не используя электронную почту.
</p>

{% endif %}
</div>
{% endblock %}
