{% extends "base.html" %}
{% block title %}Информация об отправлении {{ shipment }}{% endblock %}
{% block content %}
<div class="cms-content">
  <div class="pure-u-1">
    <h2><a href="{% url 'account' %}">Аккаунт</a> → <a href="{% url 'orders_history' %}">История заказов</a> → <a href="{% url 'order_info' order_pk=shipment.order.pk %}">Заказ #{{ shipment.order.pk }}</a>  → <a href="#">Отправление: {{ shipment }}</a></h2>
    <br />
    <br />
    <table class="pure-table pure-table-horizontal">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Дата</th>
	  <th>Статус</th>
	</tr>
      </thead>
      <tbody>
	{% for i in post_tr_items %}
	
	<tr>
	  <td style="font-size:1.4em">
	    {{ forloop.counter }}
	  </td>
	  <td>
          {{ i.date }} 
	  </td>
	  <td>
	    {{ i.status }}
	  </td>
	</tr>
	{% empty %}
	Информации нет
	{% endfor %}
      </tbody>
    </table>
  </div>

  {% if shipment.photo %}
	  <hr />
	  <img src="{{ shipment.photo.url }}" />
  {% endif %}
</div>
{% endblock %}
