{% extends "base.html" %}
{% block title %}Мой аккаунт{% endblock %}
{% block content %}
	<div class="cms-content">
		<h2><a href="{% url 'account' %}">Аккаунт</a> → <a href="#">Поддержка</a></h2>
		{% if user.is_authenticated %}



			<div class="pure-u-md-20-24">
				{% for t in supports %}
					<div class="pure-u-1 support {% if answered %}answered{% else %}{% endif %}">
						<a href="{% url 'support_ticket' support_pk=t.pk %}">{{ t }}</a>
						
					</div>
				{% endfor %}
			</div>


			<div class="pure-u-md-20-24 support-form">
				<form class="pure-form pure-form-stacked" method="post" action="{% url 'support' %}"">{% csrf_token %}
					<fieldset>
						{% for field in form %}
							<div class="fieldWrapper">
								{{ field.errors }}
								{{ field.label_tag }} {{ field }}
								{% if field.help_text %}
									<p class="help">{{ field.help_text|safe }}</p>
								{% endif %}
							</div>
						{% endfor %}
						<div class="pure-controls">
							<button class="pure-button pure-button-primary" id="id_login" type="submit">Добавить вопрос</button></p>
						</div>

					</fieldset>
				</form>

			</div>

		{% endif %}
	</div>
{% endblock %}
