{% extends "base.html" %}
{% block title %}Мой аккаунт{% endblock %}
{% block content %}
	<div class="cms-content">
		<h2><a href="{% url 'account' %}">Аккаунт</a> → <a href="#">Поддержка</a></h2>
		{% if user.is_authenticated %}
			<div class="pure-u-md-20-24">
				{% for t in tickets %}
					<div class="pure-u-1 support">
						<h3>Вопрос:</h3>
						<div class="pure-u-1 support-time">{{ t.created }}</div>
						<div class="pure-u-1 question">{{ t.question }}</div>
						{% if t.answer %}
							<h3>Ответ поддержки:</h3>
							<div class="pure-u-1 support-time">{{ t.modified }}</div>
							<div class="pure-u-1 answer">{{ t.answer }}</div>

						{% endif %}
					</div>
				{% endfor %}
			</div>


			<div class="pure-u-md-20-24 support-form">
				<form class="pure-form pure-form-stacked" method="post" action="{% url 'support_ticket' support_pk=support_pk %}"">{% csrf_token %}
					<fieldset>
						{% for field in form %}
							<div class="fieldWrapper">
								{{ field.errors }}
								{{ field.label_tag }} {{ field }}
								{% if field.help_text %}
									<p class="help">{{ field.help_text|safe }}</p>
								{% endif %}
							</div>
						{% endfor %}
						<div class="pure-controls">
							<button class="pure-button pure-button-primary" id="id_login" type="submit">Ответить</button></p>
						</div>

					</fieldset>
				</form>

			</div>

		{% endif %}
	</div>
{% endblock %}
