{% extends "base.html" %}
{% block title %}Панель менеджера{% endblock %}
{% block extra_headers %}

{% endblock %}

{% block header %}
<div class="pure-g">
  <div style="padding:3px;" class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
	<li class="pure-menu-item">
	  <a href="/"><img src="{{ STATIC_URL }}img/batman.png" width="30px" /></a>
	  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
	    <a href="#" id="menuLink1" class="pure-menu-link">Заказы:</a>
	    <ul class="pure-menu-children">
	      <li class="pure-menu-item">

		<a class="pure-menu-link" href="{% url 'manager:new_orders' %}">Новые</a>									
	      </li>
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:orders' %}">В работе</a>
	      </li>
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:old_orders' %}">Старые</a>					
	      </li>
	      
	    </ul>
	  </li>
	</li>
	
	<li class="pure-menu-item">
	  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
	    <a href="#" id="menuLink2" class="pure-menu-link">Логи:</a>
	    <ul class="pure-menu-children">
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:email_list' %}">Почта</a>
	      </li>
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:sms_list' %}">SMS</a>					
	      </li>
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:parse_stat' %}">Статистика парсинга</a>
	      </li>
	    </ul>
	  </li>
	</li>


	<li class="pure-menu-item">
	  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
	    <a href="#" id="menuLink3" class="pure-menu-link">Админ:</a>
	    <ul class="pure-menu-children">
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:new_reviews' %}">Отзывы</a>					
	      </li>
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:new_video_reviews' %}">Видео-обзоры</a>					
	      </li>
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:coupon_list' %}">Купоны</a>					
	      </li>
	      <li class="pure-menu-item">
		<a class="pure-menu-link" href="{% url 'manager:money_coupon_list' %}">Денежные Купоны</a>					
	      </li>
	    </ul>
	  </li>
	</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
{% block footer_add %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
    $( function() {
    $( ".date_field" ).datepicker({
    dateFormat: "dd.mm.yy"
    });
    } );
  </script>

  {% block footer_scripts %}
  
  {% endblock %}

  {% endblock %}

