{% extends "manager/base.html" %}
{% block title %}Купон #{{ coupon.pk }}{% endblock %}
{% block content %}


	{% if user.is_staff %}
		<h2><a href="{% url 'manager:coupon_list' %}">Купоны</a> -> {% if coupon %}редактирование купона #{{ coupon.pk }}
		{% else %} Новый купон {% endif %}</h2>

		{% if saved %}
			<span class="button-success">

				Купон обновлен!
				
			</span>
		{% endif %}


		<form id="coupon_form" action="" method="post" class="pure-form pure-form-aligned">{% csrf_token %}
			<fieldset> 

				<div class="pure-control-group">
					{% for field in form %}
						<div class="fieldWrapper">
							{{ field.errors }}
							{{ field.label_tag }} {{ field }}
							{% if field.help_text %}
								<p class="help">{{ field.help_text|safe }}</p>
							{% endif %}
						</div>
					{% endfor %}

				</div>
			</fieldset>
			<div class="pure-controls">
				<button class="pure-button pure-button-primary" id="id_login" type="submit">Сохранить</button></p>
			</div>
		</form>
{% endif %}

{% endblock %}
