{% extends "manager/base.html" %}
{% block title %}Купоны{% endblock %}
{% block content %}


	{% if user.is_staff %}
	<h2>Купоны:</h2>

	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Название купона</th>
                <th>Купон</th>
				<th>Скидка</th>
				<th>Минимальная сумма</th>
				<th>Создан</th>
				<th>Действителен</th>
				<th>Использован раз</th>
				<th>-</th>
			</tr>
		</thead>
		<tbody>
			{% for c in coupons %}
				<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{% url 'manager:coupon_edit' coupon_pk=c.pk %}">{{ c.title }}</a></td>
                <td>{{ c.name }}</td>
				<td>{{ c.discount }}%</td>
				<td>{{ c.min_sum }}</td>
				<td>{{ c.added }}</td>
				<td>{% if c.start_date %}с {% endif %}{{ c.start_date }}
					<br />{% if c.end_date %}по {% endif %}{{ c.end_date }}</td>
				<td>{{ c.used_count }}</td>
				<td>-</td>
					
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% endblock %}
