{% extends "manager/base.html" %}
{% block title %}Почта{% endblock %}
{% block content %}


	{% if user.is_staff %}
	<h2>Письма:</h2>

	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Адрес</th>
                                <th>Дата создания</th>
				<th>Письмо</th>
				<th>Отправлено</th>
				<th>Ошибка</th>
			</tr>
		</thead>
		<tbody>
			{% for email in page %}
				{% include "manager/email-item.html" %}
			{% endfor %}
		</tbody>
	</table>
	{% include "paginator.html" %}

{% endif %}

{% endblock %}
