
<tr>
	<td style="font-size:1.4em">
        {{ forloop.counter }}
	</td>
	<td>
		<b>{{ email.to }}</b>
	</td>
    <td>
        {{ email.publication_date }}
    </td>
    <td>
        <i><b>{{ email.subject }}</b></i> <br />
        <span style="white-space: pre-line">
			{{ email.text }}
		</span>
    </td>
	<td>
		{% if email.is_sended %}<b>✔</b> {{ email.send_date }}{% else %}✗ (попыток отправки: {{ email.retries }}){% endif %}
	</td>
    <td>
        {% if email.error %}{{ email.error }}{% endif %}
    </td>
			</tr>
