{% extends "manager/base.html" %}
{% block title %}Moderator Dashboard{% endblock %}
{% block content %}

{% if user.is_staff %}

    <div class="pure-u-1 dashboard">
		<h3>Заказы <img src="{{ STATIC_URL }}img/zoidberg-read.png" width="40px" /></h3>
		 новые: <a href="{% url 'manager:new_orders' %}">{{ new_orders }}</a>
		 в работе: <a href="{% url 'manager:orders' %}">{{ orders }}</a>
		 старые: <a href="{% url 'manager:old_orders' %}">{{ old_orders }}</a>
		<hr />
		<h3>Модерация  <img src="{{ STATIC_URL }}img/zoidberg-angry.png" width="70px" /></h3>
		Отзывы: <a href="{% url 'manager:new_reviews' %}">{{ reviews }}</a>
		Видео-обзоры: <a title="Отмодерировано обзоров: {{ video_reviews_moderated }}" href="{% url 'manager:new_video_reviews' %}">{{ video_reviews }}</a>
	</div>	 
        
{% endif %}

{% endblock %}

