{% extends "manager/base.html" %}
{% block title %}Денежные купоны{% endblock %}
{% block content %}
{% if user.is_staff %}
<h2>Денежные купоны:</h2>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>#</th>
      <th>Купон</th>
      <th>Сумма</th>
      <th>Потрачено</th>
      <th>Создан</th>
    </tr>
  </thead>
  <tbody>
    {% for c in coupons %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'manager:money_coupon_edit' coupon_pk=c.pk %}">{{ c.title }}</a></td>
      <td>{{ c.amount }}%</td>
      <td>{{ c.spended }}</td>
      <td>{{ c.added }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
