{% extends "manager/base.html" %}
{% block title %}История заказов{% endblock %}
{% block content %}

	<form action="{% url 'manager:search_order' %}" method="get">
		<label>Поиск заказа: </label><input type="text" name="query" {% if q %} value="{{ q }}"{% endif %} />
		<input type="submit" value ="Ok" />
	</form>
	<br />
	{% if user.is_staff %}
		{% if q %}
			<h2>Результаты поиска: {{ q }}</h2>
		{% else %}
			{% if old %}Полученные клиентами заказы:{% else %}
				<h2>{% if new %}Новые заказы:{% else %} <img src="{{ STATIC_URL }}img/money.png" width="30px" /> Все оплаченные заказы:{% endif %}</h2>
			{% endif %}
		{% endif %}
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Заказ</th>
                                <th>ФИО</th>
				<th>Сумма</th>
				<th>Контакты</th>
				<th>Состояние</th>
			</tr>
		</thead>
		<tbody>
			{% for order in page %}
				{% include "manager/order-item.html" %}
			{% endfor %}
		</tbody>
	</table>

	{% include "paginator.html" %}
{% endif %}

{% endblock %}


{% block footer %}
    {% if new %}
      {% for order in page %}
        {% if forloop.counter == 1 %}
          <center>
            <img src="{{ STATIC_URL }}img/zoidberg.jpg" width="100px" />
          </center>
        {% endif %}
        {% empty %}
          <center>
            <img src="{{ STATIC_URL }}img/sad-zoidberg.jpg" width="100px"/>
          </center>
      {% endfor %}
      {% else %}
          <center>
            <img src="{{ STATIC_URL }}img/zoidberg2.jpg" width="100px"/>
          </center>
      
    {% endif %}

{% endblock %}
