{% extends "manager/base.html" %}
{% block title %}Заказ {{ order.pk }}{% endblock %}
{% block content %}

{% if user.is_staff %}

	<h2>Заказ {{ order.pk }}:</h2>
    <div class="pure-u-1">

      {% if order.track_status %}<h3>Статус отправления: {{ order.track_status }}</h3>{% endif %}

      {% if order.pay_date %}<div class="pure-u-1" title="Дата оплаты">(Оплачено: {{ order.pay_date|date:"SHORT_DATE_FORMAT" }})</div>{% endif %}
		
      <div class="pure-u-1">
        Пользователь: {{ order_user.user.user }}
        <a href="{% url 'manager:user_orders' user_pk=order.user.user.pk %}">({{ order.total_orders }})</a>
      </div>
      
      {% if order_user.last_name %}
		  <div class="delivery-info">Фамилия:</div> <b>{{ order_user.last_name }}</b><br />
	  {% endif %}

      {% if order_user.first_name %}
		  <div class="delivery-info">Имя:</div>     <b>{{ order_user.first_name }}</b><br />
      {% endif %} 
      {% if order_user.patronymic %}
		  <div class="delivery-info">Отчество:</div> <b>{{ order_user.patronymic }}</b><br />
      {% endif %}

      {% if order_user.country %}
		  <div class="delivery-info">Страна:</div>  <b>{{ order_user.country.name }}</b><br />{% endif %}

	  
      {% if order_user.zip %}
		  <div class="delivery-info">Индекс:</div>  <b>{{ order_user.zip }}</b><br />{% endif %}
		  {% if order_user.city %}
		  <div class="delivery-info">Город: </div>  <b>{{ order_user.city }}</b><br />{% endif %}
		  {% if order_user.address %}
			  <div class="delivery-info">Адрес: </div>  <b>{{ order_user.address }}</b><br />
		  {% endif %}
		  <div class="delivery-info">Телефон:</div> <b>{{ order.user.registereduser.phone }}</b><br />

	  	  <div class="delivery-info">
			  Усиленная упаковка:
		  </div>
		  <b>
			  {% if order.strong_package %}
				  ДА
			  {% else %}
				  НЕТ
			  {% endif %}
		  </b>
		  <hr />

	</div>
    <div class="pure-u-1">
		<table class="pure-table pure-table-horizontal">
			<thead>
				<tr>
					<th>#</th>
					<th>Фото</th>
					<th>Наименование</th>
					<th>Цена</th>
					<th>Кол-во</th>
					<th>Стоимость</th>
                                        <th>Фастек:</th>
				</tr>
			</thead>
			<tbody>
				{% for item in order_items %}
					
					<tr>
						<td style="font-size:1.4em">
							{{ forloop.counter }}
						</td>
						<td>
							<a href="{% url 'item' item_name=item.item.title item_pk=item.item.pk %}">
								<img src="{{ item.item.get_photo }}" class="pure-img" width="150px" />
							</a>
						</td>
						<td style="font-size:0.9em;">
							<a href="{% url 'item' item_name=item.item.title item_pk=item.item.pk %}">{{ item.item.title_rus }}</a>

							<br />
							<a style="color:red;" href="{% url 'manager:remove_item_from_order' order_item_pk=item.pk %}" title="Удалить товар из заказа">Удалить</a>
						</td>
						<td>
							{{ item.item.get_price }}&nbsp;<b class="price">⃏</b>
						</td>
						<td>
							<b>{{ item.amount }}</b>
						</td>

						<td>
							{{ item.get_total_price }}&nbsp;<b class="price">⃏</b>
						</td>

                        <td>
                            <a target="_blank" href="{{ item.item.url.url }}">{{ item.item.url.url }}</a>
                        </td>

					</tr>
				{% empty %}
					Заказ пуст
				{% endfor %}

				<tr>
					<td>
					</td>
					<td colspan="3" style="text-align:right; font-size:1.3em;">Итого (оплачено):</td>
					<td colspan="3" style="font-size:1.3em;">{{ order.total_payed }}  <b class="price"> ⃏</b></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="3" style="text-align:right; font-size:1.3em;">Итого (стоимость заказа):</td>
					<td colspan="3" style="font-size:1.3em;">{{ order.price }}  <b class="price"> ⃏</b></td>
					
				</tr>
				{% if order.money_coupon %}
				<tr>
					<td>
					</td>
					<td colspan="3" style="text-align:right; font-size:1.1em;">Использован денежный купон (<b>{{ order.money_coupon }}</b>)</td>
					<td colspan="3" style="font-size:1.1em;">Оплачено деньгами: {{ order.total_payed }} <b class="price"> ⃏</b></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		<br />
		{% if order.fasttech_order_url %}Ссылка на заказ: <a href="{{ order.fasttech_order_url }}">{{ order.fasttech_order_url }}</a><br />{% endif %}
			<hr />
		<form action="{% url 'manager:add_item_to_order' order_pk=order.pk %}" method="post">{% csrf_token %}
			Добавить товар к заказу:<br />
			{{ sku_form.as_p }}
			<input type="submit" value="Добавить товар" />
		</form>
		<br />
		{% if order.user_comment %}
			<h3>Комментарий к заказу:</h3>
			<pre class="user-comment">{{ order.user_comment }}</pre>
		{% endif %}
		
		<h3>Состояние заказа: {{ order.get_status }}</h3>
		{% if order.tracking %}
			Отслеживание отправления: <a target="_blank" href="https://www.pochta.ru/Tracking#{{ order.tracking }}">{{ order.tracking }}</a>
        </div>
		{% endif %}

		<hr />

                Отправления: <br />
                <ul>
                  {% for sh in order.shipments %}
                  <li>

                    <a href="{% url 'manager:shipment_info' shipment_pk=sh.pk %}">{{ sh.get_track_status }}</a>

                  </li>
                  {% endfor %}
                </ul>
                <br />
                <a href="{% url 'manager:shipment_add' order_pk=order.pk %}">Добавить отправление</a>
                <br />
		<form id="order_form" action="" method="post" class="pure-form pure-form-aligned">{% csrf_token %}
			<fieldset> 

				<div class="pure-control-group">
					{% for field in order_form %}
						<div class="fieldWrapper">
							{{ field.errors }}
							{{ field.label_tag }} {{ field }}
							{% if field.help_text %}
								<p class="help">{{ field.help_text|safe }}</p>
							{% endif %}
						</div>
					{% endfor %}

				</div>
			</fieldset>
			<div class="pure-controls">
				<button class="pure-button pure-button-primary" id="id_login" type="submit">Сохранить</button></p>
			</div>
		</form>



        
{% endif %}

{% endblock %}
