<tr class="{{ order.get_status_css }}">
  <td style="font-size:1.4em">							
    {{ forloop.counter }}
  </td>
  <td>
    <a href="{% url 'manager:order_info' order_pk=order.pk %}">
      Заказ <b>#{{ order.pk }}</b> от <b>{{ order.updated|date:"SHORT_DATE_FORMAT" }}</b> 
    </a>
    {% if order.pay_date %}<span title="Дата оплаты">(Оплачено: {{ order.pay_date|date:"SHORT_DATE_FORMAT" }})</span>{% endif %}
  </td>
  <td>
    {{ order.user.registereduser.full_name }}
    
    <a href="{% url 'manager:user_orders' user_pk=order.user.user.pk %}">({{ order.total_orders }})</a>
  </td>
  <td>
    <b>{{ order.price }}</b>&nbsp;<b class="price">⃏</b>
  </td>
  <td>
    E-mail: {{ order.user.user }}<br />
    Телефон: {{ order.user.registereduser.phone }}
  </td>
  <td>
    {{ order.get_status }}
    <br />
    {% for sh in order.shipments %}
    <a href="{% url 'manager:shipment_info' shipment_pk=sh.pk %}">{{ sh.get_track_status }}</a> <br />
    {% empty %}
    {% endfor %}

  </td>
</tr>
