{% extends "manager/base.html" %}
{% block title %}Статистика парсинга{% endblock %}
{% block content %}


	{% if user.is_staff %}
	<h2>Статистика парсинга:</h2>

	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Изменилось</th>
                <th>Добавлено</th>
				<th>Дата</th>
			</tr>
		</thead>
		<tbody>
			{% for ps in parse_stat %}
				<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ ps.new_titles }}</td>
				<td>{{ ps.new_items }}</td>
				<td>{{ ps.parse_date }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% endblock %}
