{% extends "manager/base.html" %}
{% block title %}Модерация отзывов{% endblock %}
{% block content %}


	{% if user.is_staff %}
        <h2>Модерация отзывов</h2>
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Ник</th>
                                <th>Отзыв</th>
                                <th></th>
			</tr>
		</thead>
		<tbody>
			{% for review in reviews %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ review.nickname }}
							  {% if review.user %}
								  <br />
								  User:{{ review.user }}{% endif %}
						  </td>
                          <td>{{ review.text }}</td>
                          <td>
                            <form action="{% url 'manager:review_approve' %}" method="GET">
                              
                              <input type="hidden" name="review_id" value="{{ review.pk }}" />
                              <input type="hidden" name="do" value="approve" />
                              <button class="pure-button button-success"  type="submit">Добавить</button>
                              <br /><br />
                            </form>

                            <form action="{% url 'manager:review_approve' %}" method="get">                            
                              <input type="hidden" name="review_id" value="{{ review.pk }}" />
                              <input type="hidden" name="do" value="delete" />
                              <button  type="submit" style="color:#fff; background-color:red; border-radius:5px;" class="button-error pure-button">Удалить</button>
                              <br />
                            </form>
                            <br />
                            <a target="_blank" href="{% url 'item' item_name=review.item.title item_pk=review.item.pk %}"> >> </a>
                          </td>
                        </tr>
			{% endfor %}
		</tbody>
	</table>

{% endif %}

{% endblock %}
