{% extends "manager/base.html" %}
{% block title %}Добавить отправление{% endblock %}
{% block content %}

{% if user.is_staff %}
	<h2>Заказ: {{ order }}</h2>
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	{{ form.as_p }}
	<br />
	<input type="submit" value="Добавить, бля" />
{% endif %}

{% endblock %}
