{% extends "manager/base.html" %}
{% block title %}Информация об отправлении {{ shipment }}{% endblock %}
{% block content %}
<div class="cms-content">
  <div class="pure-u-1">
    <h2>Заказ #{{ shipment.order.pk }}</a>  → <a href="#">Отправление: {{ shipment }}</a></h2>
    <br />
    <br />
    <table class="pure-table pure-table-horizontal">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Дата</th>
	  <th>Статус</th>
	</tr>
      </thead>
      <tbody>
	{% for i in post_tr_items %}
	
	<tr>
	  <td style="font-size:1.4em">
	    {{ forloop.counter }}
	  </td>
	  <td>
            {{ i.get_date }}
	  </td>
	  <td>
	    {{ i.status }}
	  </td>
	</tr>
	{% empty %}
	Информации пока нет
	{% endfor %}
      </tbody>
    </table>
    {% if shipment.photo %}
    <img src="{{ shipment.photo.url }}" />
    {% endif %}
  </div>
  <hr />
<a href="{% url 'admin:userapp_shipment_change' shipment.id %}">Изменить</a> |  
<a href="{% url 'admin:userapp_shipment_delete' shipment.id %}">Удалить</a>  
</div>
{% endblock %}
