		
			<tr>
			  <td style="font-size:1.4em">
                            {{ forloop.counter }}
			  </td>
			  <td>
			    <b>{{ sms.to }}</b>
			  </td>
                          <td>
                            {{ sms.publication_date }}
                          </td>
                          <td>
                            {{ sms.text }}
                          </td>
			  <td>
			  {% if sms.is_sended %}<b>✔</b> {{ sms.send_date }}{% else %}✗ (попыток отправки: {{ sms.retries }}){% endif %}
			  </td>
                          <td>
                            {% if sms.error %}{{ sms.error }}{% endif %}
                          </td>
			</tr>
