<div class="pure-u-1 support-ticket-item">
	<div class="pure-u-2-5">
		<a href="{% url 'manager:support_ticket' support_pk=t.pk %}">{{ t }}</a>
	</div>
	<div class="pure-u-2-5">Создан: {{ t.created|date:"m/d/Y" }} изменен: {{ t.modified|date:"m/d/Y" }} <br />от <b>{{ t.user.user }}</b></div>
</div>
