{% extends "manager/base.html" %}
{% block title %}Тикет #{{ ticket.pk }}{% endblock %}
{% block content %}

{% if user.is_staff %}

	<h2>Тикет: {{ ticket.pk }}</h2>
    {% for t in answers %}
		<div class="pure-u-1 support">
			<h3>Вопрос:</h3>
			<div class="pure-u-1 support-time">{{ t.created }}</div>
			<div class="pure-u-1 question">{{ t.question }}</div>
			{% if t.answer %}
				<h3>Ответ поддержки:</h3>
				<div class="pure-u-1 support-time">{{ t.modified }}</div>
				<div class="pure-u-1 answer">{{ t.answer }}</div>

			{% endif %}
		</div>
		<div class="pure-u-md-20-24 support-form">
			<form class="pure-form pure-form-stacked" method="post" action="{% url 'manager:answer_ticket' support_pk=ticket.pk %}"">{% csrf_token %}
				<fieldset>
				   {% for field in form %}
					   <div class="fieldWrapper">
						   {{ field.errors }}
						   {{ field.label_tag }} {{ field }}
						   {% if field.help_text %}
							   <p class="help">{{ field.help_text|safe }}</p>
						   {% endif %}
					   </div>
				   {% endfor %}
					<div class="pure-controls">
						<button class="pure-button pure-button-primary" id="id_login" type="submit">Ответить</button></p>
					</div>

				</fieldset>
			</form>

		</div>


		
	{% endfor %}
	
{% endif %}

{% endblock %}
