{% extends "manager/base.html" %}
{% block title %}Заказы пользователя {{ o_user }}{% endblock %}
{% block content %}


	{% if user.is_staff %}
        <h2>Заказы пользователя {{ o_user }}</h2>
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Заказ</th>
                                <th>ФИО</th>
				<th>Сумма</th>
				<th>Контакты</th>
				<th>Состояние</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				{% include "manager/order-item.html" %}
			{% endfor %}
		</tbody>
	</table>

	{% include "paginator.html" %}
{% endif %}

{% endblock %}
