{% extends "manager/base.html" %}
{% block title %}Модерация видео обзоров{% endblock %}
{% block content %}
	{% if user.is_staff %}
        <h2>Модерация видео обзоров</h2>
		<span id="spinner" style="display:none;"><img src="{{ STATIC_URL }}img/spinner.gif" /></span>
		{% for review in video_reviews %}
			{% include "manager/video-review-item.html" %}
		{% endfor %}
	{% endif %}
{% endblock %}
