<span id="video-review-item">
	<iframe width="560"  height="315" src="{{ review.get_embed_code }}" frameborder="0" allowfullscreen></iframe>
	<br />
	<a href="{% url 'item' item_pk=review.item.pk item_name=review.item.title %}">{{ review.item.title }}</a>

	<br />
	<div style="float:left; padding-right:10px;">
	<form class="ajax-form" id="ajax-form1" action="{% url 'manager:video_review_approve' %}" method="GET">
      
      <input type="hidden" name="review_id" value="{{ review.pk }}" />
      <input type="hidden" name="do" value="approve" />
      <button class="pure-button button-success"  type="submit">Добавить</button>
      <br /><br />
    </form>
	</div>
	<div styel="float:left;">
    <form class="ajax-form" id="ajax-form2" action="{% url 'manager:video_review_approve' %}" method="get">                            
      <input type="hidden" name="review_id" value="{{ review.pk }}" />
      <input type="hidden" name="do" value="delete" />
      <button  type="submit" style="color:#fff; background-color:red; border-radius:5px;" class="button-error pure-button">Удалить</button>
      <br />
    </form>
	</div>

	<script>
	$(document).ready(function() {
		var frm = $('#ajax-form1');
		console.log(frm);
		frm.submit(function (e) {
			$('#spinner').show();		
			$.ajax({
				type: "GET",
				url: frm.attr('action'),
				data: frm.serialize(), // serializes the form's elements.
	            dataType: "html",
				success: function (data) {
					console.log('Submission was successful.');
					$('#video-review-item').html(data);
	                $('#spinner').hide();
	                console.log('Done'); 

				},
				error: function (data) {
					console.log('An error occurred.');
					console.log(data);
					$('#spinner').hide();		

				},
			});
			e.preventDefault();			
		});
		var frm2 = $('#ajax-form2');
		frm2.submit(function (e) {
			$('#spinner').show();		

			$.ajax({
				type: "GET",
				url: frm2.attr('action'),
				data: frm2.serialize(), // serializes the form's elements.
            	dataType: "html",
				success: function (data) {
					console.log('Submission was successful.');
					$('#video-review-item').html(data);
					$('#spinner').hide();		
	
				},
				error: function (data) {
					console.log('An error occurred.');
					console.log(data);
				},
			});
			e.preventDefault();			
		});
	});
</script>
</span>
