<script>
 function chat_start(){
	 window.up_int = setInterval(function(){ update_messages(); }, 1500);
	 $('#chat').show('slow'); $('#chat_preview').hide();
	 $('#chat_preview').removeClass('chat_info');
 }

 function chat_stop(){
	 $('#chat_preview').removeClass('chat_info');
	 $('#chat_preview').show('slow');
	 $('#chat').hide();
	 clearInterval(window.up_int);
 }
</script>
<div id="chat_preview" onclick="chat_start();">
	<img src="{{ STATIC_URL }}img/chat.png" width="20px" />	Консультант
</div>
<div id="chat">
	<div id="chat_title">Консультант: Михаил Соколов <div class="chat_title_ctrls">
		<span id="chat_close" onclick="chat_stop();">➘</span>
	</div>
	</div>
	<div id="chat_win">
	</div>
	<div id="chat_controls">
		<form id="chat_form" action="{% url 'consult:message_add' %}" method="POST">{% csrf_token %}
			<input type="text" id="id_message" name="message" placeholder="Введите сообщение"/>
			<button type="submit">Ок</button>
		</form>
	</div>
</div>
<script>
 function update_messages(){
	 var url = "{% url 'consult:message_update' %}";
	 $.ajax({
		 type: "POST",
		 url: url,
		 data: $("#chat_form").serialize(), 
		 success: function(data)
		 {
			 $('#chat_win').html('');
			 for (var key in data) {
				 if (data.hasOwnProperty(key)) {
					 if (data[key][3] == true){
						 var cls = 'chat_user';
					 } else {
						 var cls = 'chat_cons';
					 }
					 $('#chat_win').append('<div class="chat_element '+cls+'"><span class="chat_username">'+data[key][1]+':</span> <span class="chat_time">' + data[key][2]+ ' </span> <div class="chat_text">'+ data[key][0] + '</div></div>') ;
                     // $('#chat_preview').addClass('chat_info');
                     
                     
				 }
			 }
		 }
	 });
	 
 }

 update_messages();


 $( document ).ready(function() {
	 $("#chat_form").submit(function(e) {
		 var url = "{% url 'consult:message_add' %}";
		 $.ajax({
			 type: "POST",
			 url: url,
			 data: $("#chat_form").serialize(), 
			 success: function(data)
			 {
                 $('#id_message').val(' ');
				 update_messages();
			 }
		 });
		 e.preventDefault(); // avoid to execute the actual submit of the form.
     });
 });
 
</script>
