{% extends "knowledge/base.html" %}
{% block knowledge_content %}

<h1> Задать вопрос</h1>
<hr />
<form id="ask_form" action="{% url 'knowledge:ask' %}" method="post" class="pure-form pure-form-stacked">{% csrf_token %}

	{% include "knowledge/form.html" %}
	<div class="pure-controls">
		<button class="pure-button pure-button-primary" id="id_login" type="submit">Задать вопрос в поддержку</button></p>
	</div>
	<p>
		Прежде чем задать вопрос, ознакомьтесь с <a href="https://fastek.link/pages/page/faq/">частыми вопросами</a>.
	</p>
</form>


{% endblock %}
