{% extends "base.html" %}

{% block title %}База знаний {% block add_title %}{% endblock %} | Поддержка{% endblock title %}
{% block extra_headers %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/knowledge.css">
  {% endblock %}

  {% block content %}
  <div id="wrpr">
    <div class="pure-u-2-3 main-content">
      {% block knowledge_content %}
      {% endblock %}
    </div>
    <div class="pure-u-1-5 sidebar" style="text-align:right;">
      {% block sidebar %}
		  {% if user.is_authenticated %}
			  <a href="{% url 'knowledge:index' action='my' %}">Мои вопросы</a>
			  <br />
		  {% endif %}
      <a href="{% url 'knowledge:index' %}">Все вопросы</a>
      <br />
	  <!-- 
        {% load knowledge_tags %}
		{% get_knowledge_categories_list %}
        {% for c in knowledge_categories_list %}
        <a href="{% url 'knowledge:category' category_id=c.id %}">{{ c }}</a>
        <br />
        {% endfor %}
		 -->
		<br />
		{% if user.is_authenticated %}
			<br />
			<a class="pure-button pure-button-primary" href="{% url 'knowledge:ask' %}">Задать вопрос</a>
		{% endif %}

      {% endblock %}
    </div>
  </div>
      
  {% endblock content %}
