  <fieldset> 
    <div class="pure-control-group">
      {% for field in form %}
      <div class="fieldWrapper">
	{{ field.errors }}
	{{ field.label_tag }}

	{% if field.help_text %}
	<span class="pure-form-message-inline">{{ field.help_text|safe }}</span>
	{% endif %}

        {{ field }}
        <br />
      </div>
      {% endfor %}

    </div>
  </fieldset>
