{% extends "knowledge/base.html" %}
{% block knowledge_content %}

    <div class="pure-u-1">
		{% if action == "my" %}
			<h1 class="-title">Мои вопросы:</h1>			
		{% else %}
			<h1 class="-title">Поддержка пользователей FASTEK, общие вопросы</h1>
		{% endif %}
    </div>

	
	<ul>
		{% for q in page %}
			<li>
				<a href="{% url 'knowledge:question' question_id=q.pk %}">#{{ q.id }} - {{ q }}</a>
				&mdash;
				{{ q.response_count_str }}
                                {% if user.is_staff %}
                                <span class="small" style="float:right;">
                                      от {{ q.user }}
                                      <a href="{% url 'knowledge:question_delete' question_id=q.id %}">удалить</a>
                                </span>
                                {% endif %}
			</li>
		{% endfor %}
	</ul>
	{% include "paginator.html" %}
{% endblock %}
