{% extends "knowledge/base.html" %}
{% load knowledge_tags %}
{% block knowledge_content %}

<div class="pure-u-1">
  <h1>{{ q.title }}{% if not q.is_public %}<br /><span class="small">вопрос виден только вам и менеджеру</span>{% endif %}</h1>
</div>
{% if q.item %}
<span class="small">
Вопрос по товару: <a href="{% url 'item' item_name=q.item.title item_pk=q.item.pk %}">{{ q.item }}</a></span>
{% endif %}
<p>{{ q.description|markdown_filter|safe }}</p>

{% if user.is_staff %}
<div class="info">
  User: {{ q.user }}<br />
  {% if q.is_public %}
  Вопрос виден всем, <a href="{% url 'knowledge:question_moderate' question_id=q.pk action='hide' %}">скрыть?</a>
  {% else %}
  Вопрос виден только пользователю, <a href="{% url 'knowledge:question_moderate' question_id=q.pk action='accept' %}">открыть всем?</a>
  {% endif %}

  <br />
  {% if q.is_closed %}
  Вопрос закрыт, <a href="{% url 'knowledge:question_moderate' question_id=q.pk action='open' %}">открыть?</a>
  {% else %}
  Вопрос открыт, <a href="{% url 'knowledge:question_moderate' question_id=q.pk action='close' %}">закрыть?</a>
  {% endif %}


  <a href="{% url 'knowledge:question_edit' question_id=q.id %}">изменить</a>
  <br />
</div>
{% else %}
{% if user == q.user %}
<a href="{% url 'knowledge:question_edit' question_id=q.id %}">изменить</a>
{% endif %}
{% endif %}

<hr />
{% for r in responses %}
	<div class="response{% if r.accepted %}{% else %} not-accepted {% endif %}">
		<div class="info{% if r.user.is_staff %} info-admin {% endif %}">{% if r.user.is_staff %}Админ {% else %}Пользователь {% endif %}<em>{{ r.added }}</em> добавил ответ:
  </div>
  <p>{{ r.description|markdown_filter|safe }}
  </p>
  {% if user.is_staff %}
  <div class="info">
    {% if r.accepted %}
    Ответ принят, <a href="{% url 'knowledge:response_moderate' response_id=r.pk action='hide' %}">скрыть?</a>
    {% else %}
    Ответ скрыт, <a href="{% url 'knowledge:response_moderate' response_id=r.pk action='accept' %}">принять?</a>
    {% endif %}

    <a href="{% url 'knowledge:response_edit' response_id=r.id %}">изменить</a>                                                
  </div>
  {% else %}
  {% if user == q.user %}
  <a href="{% url 'knowledge:response_edit' response_id=r.id %}">изменить</a>
  {% endif %}
  
  {% endif %}
  
</div>
{% endfor %}


{% if q.is_closed %}
<div style="text-align:right"><em class="small">вопрос закрыт</em></div>
{% else %}
<form id="password_form" action="{% url 'knowledge:response' question_id=q.pk %}" method="post" class="pure-form pure-form-stacked">{% csrf_token %}

{% include "knowledge/form.html" %}
<div class="pure-controls">
  <button class="pure-button pure-button-primary" id="id_login" type="submit">Ответить</button></p>
</div>
</form>
{% endif %}
{% endblock %}
