{% extends "knowledge/base.html" %}
{% block knowledge_content %}

<h1>Редактирование ответа:</h1>
<hr />
<form id="ask_form" action="{% url 'knowledge:response_edit' response_id=response.id %}" method="post" class="pure-form pure-form-stacked">{% csrf_token %}

	{% include "knowledge/form.html" %}
	<div class="pure-controls">
		<button class="pure-button pure-button-primary" id="id_login" type="submit">Изменить</button></p>
	</div>
	<p>
	</p>
</form>


{% endblock %}
