html{font-family:'PT Sans', sans-serif;font-family:'Open Sans', sans-serif;background-color:#fff;}
div{box-sizing:border-box;}
.content{padding:2em;min-height:24em;}
.main{width:100%;margin:0 auto;background-color:#fff;margin-top:1em;}
.title{color:#222;font-size:1.1em;margin-bottom:0.2em;padding-top:0em;margin-top:0em;}
.item{padding:1em;padding-top:0em;padding-left:0em;border-radius:3px;}
.search-div{padding:1em;padding-left:3em;}
.sidebar{min-width:250px;}
.sub-sidebar{width:250px;}
a{color:#00AAFF;background-color:transparent;}
.blue{background:#4d85d1 none repeat scroll 0 0;}
.cats{font-size:3em;}
.sub{color:#999;font-size:90%;margin:0;}
ul.menu{margin-top:0em;}
ul.menu li{list-style:none;margin:0.3em 0.1em;}
ul.menu li a{padding:0.3em 1em;}
ul.menu li a:hover{background:#5aba59 none repeat scroll 0 0;color:#fff;text-decoration:none;border-radius:0 90px 90px 0px;}
.logo-img{margin-left:auto;margin-right:auto;}
.info-block{padding-top:0.5em;}
.info a{text-decoration:none;background:#5aba59 none repeat scroll 0 0;color:#fff;font-size:80%;margin:0 0.1em;padding:0.3em 1em;vertical-align:bottom;}
.price{font-family:'PT Sans', serif;}
div.price{float:right;text-align:right;}
a.price{padding:0.3em 1em;margin:0 0.1em;background:#D40000 none repeat scroll 0 0;color:#fff;font-size:150%;font-weigth:bold;}
.media{padding-top:0.5em;}
.media img{}
.media img:hover{}
div.pagination{display:inline-block;text-align:center;}
.pagination{border-radius:4px;display:inline-block;}
.pagination > li{display:inline;}
h1{font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;letter-spacing:0.05em;font-weight:740;font-size:1.4em;margin:0em;}
.sort{margin:1em;}
.item-mini-photo{width:95%;cursor:pointer;}
.item-mini-photo:hover{}
.button-success,
.button-price{color:white;border-radius:4px;text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);}
.button-success{background:rgb(28, 184, 65);}
.button-price{background:#df2d4f none repeat scroll 0 0;cursor:auto;}
.main-price{font-size:150%;margin-top:0;margin-bottom:0.5em;}
#footer{padding-top:3em;width:100%;margin:0 auto;padding-bottom:3em;text-align:center;}
.related{overflow-y:scroll;height:400px;}
.related a{font-size:0.9em;line-height:1em;}
.buy-div{margin-left:1em;}
.support{border:1px solid grey;padding:1em;margin:1em;margin-right:0px;}
.support-form{padding:1em;margin:1em;margin-right:0px;}
.answer{padding-left:1em;color:blue;}
.support-time{text-align:right;}
h3, h4{margin-bottom:0px;}
.support h3{margin:0px;}
.pad-left{margin-left:2em;}
.delivery-info{display:inline-block;margin:0 1em 0 0;text-align:right;vertical-align:middle;width:10em;}
#add-spinner{}
#basket-added{margin-left:auto;margin-right:auto;position:absolute;left:0;right:0;width:400px;min-height:120px;border:1px solid grey;padding:1em;background-color:#fff;box-shadow:10px 10px 5px #888888;}
.pointer{cursor:pointer;}
.green{color:#1CB841;}
.menu2{text-align:right;float:right;text-align:right;}
.right{text-align:right;}
.menu2 a{text-decoration:none;margin-right:1em;}
.menu1 a{text-decoration:none;margin-right:1em;}
#basket-amount{color:#5ABA59;}
.sidebar .pure-menu{display:inline-block;}
.pure-menu-children{border:1px solid #EAEAEA;}
a.pure-menu-link{color:#3D92C9;color:#00AAFF;color:#D50303;}
.list-title{height:55px;overflow:hidden;margin-bottom:10px;}
.item-list .price a{font-size:80%;margin:0 0.1em;padding:0.3em 1em;}
.item-list{margin:0.5em;margin-bottom:1em;padding:1em;margin-left:1.3em;border:1px solid #EAEAEA;}
.item-list:hover{border:1px solid #D40000;}
.header2{padding-top:1em;}
.header{border-bottom:1px solid #D40000;}
.pure-menu-children{}
.p-title{text-align:center;font-size:3em;font-family:'Open Sans Condensed', sans-serif;}
tbody{background-color:#fff;}
h2{padding:0;margin:0;}
.rate{text-shadow:2px 2px black;color:#FFF90D;position:relative;top:-10px;left:-10px;float:right;font-size:1.2em;width:95px;overflow:hidden;}
.answered{color:gray;font-style:italic;}
.support-ticket-item{padding:5px;margin:4px;background-color:#EAEAEA;}
.coupons{float:right;text-align:right;}
.coupons button{float:right;}
.cms-content{max-width:800px;margin:0 auto;}
.account-content{text-align:center;}
.account-item{float:left;width:33%;}
.order_done{color:#fff;background-color:#5EB95E;}
.order_sended{color:#fff;background-color:#1F8DD6;}
.order_processed{color:#F5AB9E;background-color:#FCEBBD;}
.order_payed{color:#fff;background-color:#F37B1D;}
#chat_preview{position:fixed;bottom:5px;right:40px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;background:#f1f2f7;padding:10px;cursor:pointer;}
#chat{position:fixed;bottom:40px;right:40px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-box-shadow:0px 0px 40px rgba(17,17,17,0.5);-moz-box-shadow:0px 0px 40px rgba(17,17,17,0.5);box-shadow:0px 0px 40px rgba(17,17,17,0.5);border:none;background:#f1f2f7;width:350px;height:400px;padding:0px;font-size:12px;overflow:hidden;display:none;}
#chat_win{width:330px;margin:0 auto;height:290px;overflow-y:scroll;overflow-x:hidden;padding:5px;margin:10px;background:#1C4E63
color:black;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;}
#chat_title{background-color:#D40000;color:#fff;width:100%;height:40px;padding:10px;}
#chat_controls{padding:10px;}
.chat_element{width:280px;padding:6px;margin:3px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;background:#fff;}
.chat_user{background:#EFFDDE;float:right;}
.chat_cons{float:left;}
.chat_username{font-size:10px;fotn-weight:bold;}
.chat_time{float:right;color:grey;font-size:8px;}
.chat_title_ctrls{float:right;}
#chat_close{font-size:18px;text-decoration:none;cursor:pointer;}
@media (max-width:47.999em){#image404{display:none;}
.custom-can-transform ul li{display:block;float:left;}
}